brt/top10nl/doc/1.0/schema/nen3610.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:nen3610="http://www.ravi.nl/nen3610" xmlns:scXML="http://www.isotc211.org/scXML" xmlns:smXML="http://www.isotc211.org/smXML" xmlns:xlink="http://www.w3.org/1999/xlink" elementFormDefault="qualified" targetNamespace="http://www.ravi.nl/nen3610" version="1.0RC1">
  <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/feature.xsd"/>
  <element name="adres" type="nen3610:AdresPropertyType"/>
  <element name="beginTijd" type="dateTime"/>
  <element name="bestemmingsfunctie" type="gml:CodeType"/>
  <element name="bouwvergunning" type="gml:CodeType"/>
  <element name="eindTijd" type="dateTime"/>
  <element name="functieGebouw" type="gml:CodeType"/>
  <element name="gebouwVoorPand" type="nen3610:GebouwPropertyType"/>
  <element name="gemeenteCode" type="string"/>
  <element name="gemeenteNaam" type="string"/>
  <element name="gemeente" type="nen3610:GemeentePropertyType"/>
  <element name="geoObject" type="nen3610:GeoObjectPropertyType"/>
  <element name="huisletter" type="string"/>
  <element name="huisnummer" type="string"/>
  <element name="huisnummerToevoeging" type="string"/>
  <element name="identificatie" type="string"/>
  <element name="land" type="string"/>
  <element name="ligtBoven" type="nen3610:GeoObjectPropertyType"/>
  <element name="ligtOnder" type="nen3610:GeoObjectPropertyType"/>
  <element name="locatieNaam" type="string"/>
  <element name="locatie" type="nen3610:LocatiePropertyType"/>
  <element name="locatieOmschrijving" type="string"/>
  <element name="materiaalGebouw" type="gml:CodeType"/>
  <element name="materiaalInrichtingselement" type="gml:CodeType"/>
  <element name="materiaalKunstwerk" type="gml:CodeType"/>
  <element name="materiaalLeiding" type="gml:CodeType"/>
  <element name="materiaalTerrein" type="gml:CodeType"/>
  <element name="materiaalWaterkering" type="gml:CodeType"/>
  <element name="naam" type="gml:CodeType"/>
  <element name="naamOpenbareRuimte" type="string"/>
  <element name="objectBeginTijd" type="dateTime"/>
  <element name="objectEindTijd" type="dateTime"/>
  <element name="ontstaanUit" type="nen3610:GeoObjectPropertyType"/>
  <element name="openbaarJN" type="boolean"/>
  <element name="pandInGebouw" type="nen3610:PandPropertyType"/>
  <element name="pandRelatering" type="string"/>
  <element name="pandVoorVerblijfsobject" type="nen3610:PandPropertyType"/>
  <element name="plangebied" type="nen3610:PlangebiedPropertyType"/>
  <element name="planobject" type="nen3610:PlanobjectPropertyType"/>
  <element name="positie" type="gml:PointPropertyType"/>
  <element name="postcode" type="string"/>
  <element name="product" type="gml:CodeType"/>
  <element name="profiel" type="gml:CodeType"/>
  <element name="provincieCode" type="string"/>
  <element name="provincieNaam" type="string"/>
  <element name="provincie" type="nen3610:ProvinciePropertyType"/>
  <element name="rechtenOpObject" type="nen3610:RechtenPropertyType"/>
  <element name="rechtenVanSubject" type="nen3610:RechtenPropertyType"/>
  <element name="rechtsType" type="gml:CodeType"/>
  <element name="spanningOfDruk" type="gml:CodeType"/>
  <element name="spoorbaandeel" type="nen3610:SpoorbaandeelPropertyType"/>
  <element name="spoorbaan" type="nen3610:SpoorbaanPropertyType"/>
  <element name="status" type="gml:CodeType"/>
  <element name="subject" type="nen3610:SubjectPropertyType"/>
  <element name="toegankelijkheid" type="gml:CodeType"/>
  <element name="typeCBSGebied" type="gml:CodeType"/>
  <element name="typeFunctioneelGebied" type="gml:CodeType"/>
  <element name="typeGebouw" type="gml:CodeType"/>
  <element name="typeGeografischGebied" type="gml:CodeType"/>
  <element name="typeInfrastructuur" type="gml:CodeType"/>
  <element name="typeInfrastructuurSpoorbaandeel" type="gml:CodeType"/>
  <element name="typeInfrastructuurWaterdeel" type="gml:CodeType"/>
  <element name="typeInfrastructuurWegdeel" type="gml:CodeType"/>
  <element name="typeInrichting" type="gml:CodeType"/>
  <element name="typeInrichtingselement" type="gml:CodeType"/>
  <element name="typeKunstwerk" type="gml:CodeType"/>
  <element name="typeLandgebruik" type="gml:CodeType"/>
  <element name="typeLeiding" type="gml:CodeType"/>
  <element name="typeMeting" type="gml:CodeType"/>
  <element name="typePand" type="gml:CodeType"/>
  <element name="typePlan" type="gml:CodeType"/>
  <element name="typePlanobject" type="gml:CodeType"/>
  <element name="typeSpoorbaan" type="gml:CodeType"/>
  <element name="typeWater" type="gml:CodeType"/>
  <element name="typeWaterkering" type="gml:CodeType"/>
  <element name="typeWeg" type="gml:CodeType"/>
  <element name="vanLand" type="nen3610:LandPropertyType"/>
  <element name="verblijfsobjectInPand" type="nen3610:VerblijfsobjectPropertyType"/>
  <element name="verharding" type="gml:CodeType"/>
  <element name="versieBeginTijd" type="dateTime"/>
  <element name="versieEindTijd" type="dateTime"/>
  <element name="waterdeel" type="nen3610:WaterdeelPropertyType"/>
  <element name="water" type="nen3610:WaterPropertyType"/>
  <element name="wegdeel" type="nen3610:WegdeelPropertyType"/>
  <element name="weg" type="nen3610:WegPropertyType"/>
  <element name="woonplaatsNaam" type="string"/>
<!--Type and element definitions of this package-->
  <complexType abstract="true" name="KunstwerkType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element minOccurs="0" ref="nen3610:typeKunstwerk"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:materiaalKunstwerk"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KunstwerkPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Kunstwerk"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="KunstwerkPropertyByValueType">
    <sequence>
      <element ref="nen3610:Kunstwerk"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Kunstwerk" substitutionGroup="nen3610:GeoObject" type="nen3610:KunstwerkType"/>
  <complexType name="AdresgegevensType">
    <complexContent>
      <extension base="nen3610:LocatieType">
        <sequence>
          <element minOccurs="0" ref="nen3610:land"/>
          <element minOccurs="0" ref="nen3610:provincieNaam"/>
          <element minOccurs="0" ref="nen3610:provincieCode"/>
          <element minOccurs="0" ref="nen3610:gemeenteNaam"/>
          <element minOccurs="0" ref="nen3610:gemeenteCode"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:woonplaatsNaam"/>
          <element minOccurs="0" ref="nen3610:naamOpenbareRuimte"/>
          <element minOccurs="0" ref="nen3610:huisnummer"/>
          <element minOccurs="0" ref="nen3610:huisletter"/>
          <element minOccurs="0" ref="nen3610:huisnummerToevoeging"/>
          <element minOccurs="0" ref="nen3610:postcode"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AdresgegevensPropertyType">
    <sequence>
      <element ref="nen3610:Adresgegevens"/>
    </sequence>
  </complexType>
  <element name="Adresgegevens" substitutionGroup="nen3610:Locatie" type="nen3610:AdresgegevensType"/>
  <complexType abstract="true" name="KadastraalPerceelType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KadastraalPerceelPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:KadastraalPerceel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="KadastraalPerceelPropertyByValueType">
    <sequence>
      <element ref="nen3610:KadastraalPerceel"/>
    </sequence>
  </complexType>
  <element abstract="true" name="KadastraalPerceel" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:KadastraalPerceelType"/>
  <complexType abstract="true" name="RegistratiefGebiedType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RegistratiefGebiedPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:RegistratiefGebied"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="RegistratiefGebiedPropertyByValueType">
    <sequence>
      <element ref="nen3610:RegistratiefGebied"/>
    </sequence>
  </complexType>
  <element abstract="true" name="RegistratiefGebied" substitutionGroup="nen3610:GeoObject" type="nen3610:RegistratiefGebiedType"/>
  <complexType abstract="true" name="GeoObjectType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element ref="nen3610:identificatie"/>
          <element minOccurs="0" ref="nen3610:objectBeginTijd"/>
          <element minOccurs="0" ref="nen3610:objectEindTijd"/>
          <element minOccurs="0" ref="nen3610:versieBeginTijd"/>
          <element minOccurs="0" ref="nen3610:versieEindTijd"/>
          <element minOccurs="0" ref="nen3610:status"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:locatie"/>
          <element minOccurs="0" ref="nen3610:beginTijd"/>
          <element minOccurs="0" ref="nen3610:eindTijd"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:naam"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:ligtBoven"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:ligtOnder"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:ontstaanUit"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:rechtenOpObject"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeoObjectPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:GeoObject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="GeoObjectPropertyByValueType">
    <sequence>
      <element ref="nen3610:GeoObject"/>
    </sequence>
  </complexType>
  <element abstract="true" name="GeoObject" substitutionGroup="gml:_Feature" type="nen3610:GeoObjectType"/>
  <complexType name="AdrescoordinaatType">
    <complexContent>
      <extension base="nen3610:LocatieType">
        <sequence>
          <element ref="nen3610:positie"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AdrescoordinaatPropertyType">
    <sequence>
      <element ref="nen3610:Adrescoordinaat"/>
    </sequence>
  </complexType>
  <element name="Adrescoordinaat" substitutionGroup="nen3610:Locatie" type="nen3610:AdrescoordinaatType"/>
  <complexType abstract="true" name="LandType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LandPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Land"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="LandPropertyByValueType">
    <sequence>
      <element ref="nen3610:Land"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Land" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:LandType"/>
  <complexType abstract="true" name="ProvincieType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence>
          <element minOccurs="0" ref="nen3610:vanLand"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ProvinciePropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Provincie"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="ProvinciePropertyByValueType">
    <sequence>
      <element ref="nen3610:Provincie"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Provincie" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:ProvincieType"/>
  <complexType abstract="true" name="RegioType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RegioPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Regio"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="RegioPropertyByValueType">
    <sequence>
      <element ref="nen3610:Regio"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Regio" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:RegioType"/>
  <complexType abstract="true" name="GemeenteType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence>
          <element minOccurs="0" ref="nen3610:provincie"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GemeentePropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Gemeente"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="GemeentePropertyByValueType">
    <sequence>
      <element ref="nen3610:Gemeente"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Gemeente" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:GemeenteType"/>
  <complexType abstract="true" name="NutsbedrijfType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NutsbedrijfPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Nutsbedrijf"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="NutsbedrijfPropertyByValueType">
    <sequence>
      <element ref="nen3610:Nutsbedrijf"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Nutsbedrijf" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:NutsbedrijfType"/>
  <complexType abstract="true" name="StraalpadType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StraalpadPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Straalpad"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="StraalpadPropertyByValueType">
    <sequence>
      <element ref="nen3610:Straalpad"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Straalpad" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:StraalpadType"/>
  <complexType abstract="true" name="GeulType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeulPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Geul"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="GeulPropertyByValueType">
    <sequence>
      <element ref="nen3610:Geul"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Geul" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:GeulType"/>
  <complexType abstract="true" name="PostcodegebiedType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PostcodegebiedPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Postcodegebied"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="PostcodegebiedPropertyByValueType">
    <sequence>
      <element ref="nen3610:Postcodegebied"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Postcodegebied" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:PostcodegebiedType"/>
  <complexType abstract="true" name="WaterstaatkundigeZoneringType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterstaatkundigeZoneringPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:WaterstaatkundigeZonering"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="WaterstaatkundigeZoneringPropertyByValueType">
    <sequence>
      <element ref="nen3610:WaterstaatkundigeZonering"/>
    </sequence>
  </complexType>
  <element abstract="true" name="WaterstaatkundigeZonering" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:WaterstaatkundigeZoneringType"/>
  <complexType abstract="true" name="WaterschapType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterschapPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Waterschap"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="WaterschapPropertyByValueType">
    <sequence>
      <element ref="nen3610:Waterschap"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Waterschap" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:WaterschapType"/>
  <complexType abstract="true" name="OnderwijsType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OnderwijsPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Onderwijs"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="OnderwijsPropertyByValueType">
    <sequence>
      <element ref="nen3610:Onderwijs"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Onderwijs" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:OnderwijsType"/>
  <complexType abstract="true" name="ZiekenhuisType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ZiekenhuisPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Ziekenhuis"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="ZiekenhuisPropertyByValueType">
    <sequence>
      <element ref="nen3610:Ziekenhuis"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Ziekenhuis" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:ZiekenhuisType"/>
  <complexType abstract="true" name="DetailhandelType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DetailhandelPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Detailhandel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="DetailhandelPropertyByValueType">
    <sequence>
      <element ref="nen3610:Detailhandel"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Detailhandel" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:DetailhandelType"/>
  <complexType abstract="true" name="PolitieType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PolitiePropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Politie"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="PolitiePropertyByValueType">
    <sequence>
      <element ref="nen3610:Politie"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Politie" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:PolitieType"/>
  <complexType abstract="true" name="DeelgemeenteType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence>
          <element minOccurs="0" ref="nen3610:gemeente"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DeelgemeentePropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Deelgemeente"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="DeelgemeentePropertyByValueType">
    <sequence>
      <element ref="nen3610:Deelgemeente"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Deelgemeente" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:DeelgemeenteType"/>
  <complexType abstract="true" name="WoonplaatsType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WoonplaatsPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Woonplaats"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="WoonplaatsPropertyByValueType">
    <sequence>
      <element ref="nen3610:Woonplaats"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Woonplaats" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:WoonplaatsType"/>
  <complexType abstract="true" name="CBSGebiedType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence>
          <element ref="nen3610:typeCBSGebied"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CBSGebiedPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:CBSGebied"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="CBSGebiedPropertyByValueType">
    <sequence>
      <element ref="nen3610:CBSGebied"/>
    </sequence>
  </complexType>
  <element abstract="true" name="CBSGebied" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:CBSGebiedType"/>
  <complexType abstract="true" name="GebouwType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:typeGebouw"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:functieGebouw"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:bestemmingsfunctie"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:bouwvergunning"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:toegankelijkheid"/>
          <element minOccurs="0" ref="nen3610:openbaarJN"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:materiaalGebouw"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:pandInGebouw"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GebouwPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Gebouw"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="GebouwPropertyByValueType">
    <sequence>
      <element ref="nen3610:Gebouw"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Gebouw" substitutionGroup="nen3610:GeoObject" type="nen3610:GebouwType"/>
  <complexType abstract="true" name="PlanologischGebiedType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PlanologischGebiedPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:PlanologischGebied"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="PlanologischGebiedPropertyByValueType">
    <sequence>
      <element ref="nen3610:PlanologischGebied"/>
    </sequence>
  </complexType>
  <element abstract="true" name="PlanologischGebied" substitutionGroup="nen3610:GeoObject" type="nen3610:PlanologischGebiedType"/>
  <complexType abstract="true" name="PlanobjectType">
    <complexContent>
      <extension base="nen3610:PlanologischGebiedType">
        <sequence>
          <element ref="nen3610:typePlanobject"/>
          <element minOccurs="0" ref="nen3610:plangebied"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PlanobjectPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Planobject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="PlanobjectPropertyByValueType">
    <sequence>
      <element ref="nen3610:Planobject"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Planobject" substitutionGroup="nen3610:PlanologischGebied" type="nen3610:PlanobjectType"/>
  <complexType abstract="true" name="PlangebiedType">
    <complexContent>
      <extension base="nen3610:PlanologischGebiedType">
        <sequence>
          <element ref="nen3610:typePlan"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:planobject"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PlangebiedPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Plangebied"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="PlangebiedPropertyByValueType">
    <sequence>
      <element ref="nen3610:Plangebied"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Plangebied" substitutionGroup="nen3610:PlanologischGebied" type="nen3610:PlangebiedType"/>
  <complexType abstract="true" name="BodemverontreinigingType">
    <complexContent>
      <extension base="nen3610:MilieuzoneringType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BodemverontreinigingPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Bodemverontreiniging"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="BodemverontreinigingPropertyByValueType">
    <sequence>
      <element ref="nen3610:Bodemverontreiniging"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Bodemverontreiniging" substitutionGroup="nen3610:Milieuzonering" type="nen3610:BodemverontreinigingType"/>
  <complexType abstract="true" name="MilieuzoneringType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MilieuzoneringPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Milieuzonering"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="MilieuzoneringPropertyByValueType">
    <sequence>
      <element ref="nen3610:Milieuzonering"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Milieuzonering" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:MilieuzoneringType"/>
  <complexType abstract="true" name="GeluidshinderType">
    <complexContent>
      <extension base="nen3610:MilieuzoneringType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeluidshinderPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Geluidshinder"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="GeluidshinderPropertyByValueType">
    <sequence>
      <element ref="nen3610:Geluidshinder"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Geluidshinder" substitutionGroup="nen3610:Milieuzonering" type="nen3610:GeluidshinderType"/>
  <complexType abstract="true" name="LuchtverontreinigingType">
    <complexContent>
      <extension base="nen3610:MilieuzoneringType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LuchtverontreinigingPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Luchtverontreiniging"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="LuchtverontreinigingPropertyByValueType">
    <sequence>
      <element ref="nen3610:Luchtverontreiniging"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Luchtverontreiniging" substitutionGroup="nen3610:Milieuzonering" type="nen3610:LuchtverontreinigingType"/>
  <complexType abstract="true" name="BodembeschermingType">
    <complexContent>
      <extension base="nen3610:MilieuzoneringType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BodembeschermingPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Bodembescherming"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="BodembeschermingPropertyByValueType">
    <sequence>
      <element ref="nen3610:Bodembescherming"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Bodembescherming" substitutionGroup="nen3610:Milieuzonering" type="nen3610:BodembeschermingType"/>
  <complexType abstract="true" name="StankhinderType">
    <complexContent>
      <extension base="nen3610:MilieuzoneringType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StankhinderPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Stankhinder"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="StankhinderPropertyByValueType">
    <sequence>
      <element ref="nen3610:Stankhinder"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Stankhinder" substitutionGroup="nen3610:Milieuzonering" type="nen3610:StankhinderType"/>
  <complexType abstract="true" name="WaterwinningType">
    <complexContent>
      <extension base="nen3610:MilieuzoneringType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterwinningPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Waterwinning"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="WaterwinningPropertyByValueType">
    <sequence>
      <element ref="nen3610:Waterwinning"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Waterwinning" substitutionGroup="nen3610:Milieuzonering" type="nen3610:WaterwinningType"/>
  <complexType abstract="true" name="VeiligheidType">
    <complexContent>
      <extension base="nen3610:MilieuzoneringType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VeiligheidPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Veiligheid"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="VeiligheidPropertyByValueType">
    <sequence>
      <element ref="nen3610:Veiligheid"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Veiligheid" substitutionGroup="nen3610:Milieuzonering" type="nen3610:VeiligheidType"/>
  <complexType abstract="true" name="StiltegebiedType">
    <complexContent>
      <extension base="nen3610:MilieuzoneringType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StiltegebiedPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Stiltegebied"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="StiltegebiedPropertyByValueType">
    <sequence>
      <element ref="nen3610:Stiltegebied"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Stiltegebied" substitutionGroup="nen3610:Milieuzonering" type="nen3610:StiltegebiedType"/>
  <complexType abstract="true" name="LeidingType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element minOccurs="0" ref="nen3610:typeLeiding"/>
          <element minOccurs="0" ref="nen3610:typeInfrastructuur"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:materiaalLeiding"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:product"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:spanningOfDruk"/>
          <element minOccurs="0" ref="nen3610:profiel"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LeidingPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Leiding"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="LeidingPropertyByValueType">
    <sequence>
      <element ref="nen3610:Leiding"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Leiding" substitutionGroup="nen3610:GeoObject" type="nen3610:LeidingType"/>
  <complexType abstract="true" name="WaterkeringType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element ref="nen3610:typeWaterkering"/>
          <element minOccurs="0" ref="nen3610:toegankelijkheid"/>
          <element minOccurs="0" ref="nen3610:verharding"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:materiaalWaterkering"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterkeringPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Waterkering"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="WaterkeringPropertyByValueType">
    <sequence>
      <element ref="nen3610:Waterkering"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Waterkering" substitutionGroup="nen3610:GeoObject" type="nen3610:WaterkeringType"/>
  <complexType abstract="true" name="TerreinType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:typeLandgebruik"/>
          <element minOccurs="0" ref="nen3610:toegankelijkheid"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:materiaalTerrein"/>
          <element minOccurs="0" ref="nen3610:verharding"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TerreinPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Terrein"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="TerreinPropertyByValueType">
    <sequence>
      <element ref="nen3610:Terrein"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Terrein" substitutionGroup="nen3610:GeoObject" type="nen3610:TerreinType"/>
  <complexType abstract="true" name="InrichtingselementType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element minOccurs="0" ref="nen3610:typeInrichtingselement"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:typeInrichting"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:verharding"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:materiaalInrichtingselement"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:product"/>
          <element minOccurs="0" ref="nen3610:spanningOfDruk"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InrichtingselementPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Inrichtingselement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="InrichtingselementPropertyByValueType">
    <sequence>
      <element ref="nen3610:Inrichtingselement"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Inrichtingselement" substitutionGroup="nen3610:GeoObject" type="nen3610:InrichtingselementType"/>
  <complexType abstract="true" name="WaterType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element minOccurs="0" ref="nen3610:typeWater"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:waterdeel"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Water"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="WaterPropertyByValueType">
    <sequence>
      <element ref="nen3610:Water"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Water" substitutionGroup="nen3610:GeoObject" type="nen3610:WaterType"/>
  <complexType abstract="true" name="SpoorbaanType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element minOccurs="0" ref="nen3610:typeSpoorbaan"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:spoorbaandeel"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpoorbaanPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Spoorbaan"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="SpoorbaanPropertyByValueType">
    <sequence>
      <element ref="nen3610:Spoorbaan"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Spoorbaan" substitutionGroup="nen3610:GeoObject" type="nen3610:SpoorbaanType"/>
  <complexType abstract="true" name="WegType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:typeWeg"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:wegdeel"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WegPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Weg"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="WegPropertyByValueType">
    <sequence>
      <element ref="nen3610:Weg"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Weg" substitutionGroup="nen3610:GeoObject" type="nen3610:WegType"/>
  <complexType abstract="true" name="LocatieType">
    <sequence/>
  </complexType>
  <complexType name="LocatiePropertyType">
    <sequence>
      <element ref="nen3610:Locatie"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Locatie" type="nen3610:LocatieType"/>
  <complexType abstract="true" name="SubjectType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:rechtenVanSubject"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SubjectPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Subject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="SubjectPropertyByValueType">
    <sequence>
      <element ref="nen3610:Subject"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Subject" substitutionGroup="gml:_Feature" type="nen3610:SubjectType"/>
  <complexType abstract="true" name="RechtenType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element minOccurs="0" ref="nen3610:rechtsType"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:geoObject"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:subject"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RechtenPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Rechten"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="RechtenPropertyByValueType">
    <sequence>
      <element ref="nen3610:Rechten"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Rechten" substitutionGroup="gml:_Feature" type="nen3610:RechtenType"/>
  <complexType abstract="true" name="NatuurlijkPersoonType">
    <complexContent>
      <extension base="nen3610:SubjectType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NatuurlijkPersoonPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:NatuurlijkPersoon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="NatuurlijkPersoonPropertyByValueType">
    <sequence>
      <element ref="nen3610:NatuurlijkPersoon"/>
    </sequence>
  </complexType>
  <element abstract="true" name="NatuurlijkPersoon" substitutionGroup="nen3610:Subject" type="nen3610:NatuurlijkPersoonType"/>
  <complexType abstract="true" name="NietNatuurlijkPersoonType">
    <complexContent>
      <extension base="nen3610:SubjectType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="NietNatuurlijkPersoonPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:NietNatuurlijkPersoon"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="NietNatuurlijkPersoonPropertyByValueType">
    <sequence>
      <element ref="nen3610:NietNatuurlijkPersoon"/>
    </sequence>
  </complexType>
  <element abstract="true" name="NietNatuurlijkPersoon" substitutionGroup="nen3610:Subject" type="nen3610:NietNatuurlijkPersoonType"/>
  <complexType abstract="true" name="FunctioneelGebiedType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element minOccurs="0" ref="nen3610:typeFunctioneelGebied"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FunctioneelGebiedPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:FunctioneelGebied"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="FunctioneelGebiedPropertyByValueType">
    <sequence>
      <element ref="nen3610:FunctioneelGebied"/>
    </sequence>
  </complexType>
  <element abstract="true" name="FunctioneelGebied" substitutionGroup="nen3610:GeoObject" type="nen3610:FunctioneelGebiedType"/>
  <complexType abstract="true" name="WaterbeheerGebiedType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterbeheerGebiedPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:WaterbeheerGebied"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="WaterbeheerGebiedPropertyByValueType">
    <sequence>
      <element ref="nen3610:WaterbeheerGebied"/>
    </sequence>
  </complexType>
  <element abstract="true" name="WaterbeheerGebied" substitutionGroup="nen3610:RegistratiefGebied" type="nen3610:WaterbeheerGebiedType"/>
  <complexType abstract="true" name="MetingType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element minOccurs="0" ref="nen3610:typeMeting"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MetingPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Meting"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="MetingPropertyByValueType">
    <sequence>
      <element ref="nen3610:Meting"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Meting" substitutionGroup="nen3610:GeoObject" type="nen3610:MetingType"/>
  <complexType abstract="true" name="VerblijfsobjectType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element minOccurs="0" ref="nen3610:pandRelatering"/>
          <element ref="nen3610:adres"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:pandVoorVerblijfsobject"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="VerblijfsobjectPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Verblijfsobject"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="VerblijfsobjectPropertyByValueType">
    <sequence>
      <element ref="nen3610:Verblijfsobject"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Verblijfsobject" substitutionGroup="nen3610:GeoObject" type="nen3610:VerblijfsobjectType"/>
  <complexType abstract="true" name="LigplaatsType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element ref="nen3610:adres"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LigplaatsPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Ligplaats"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="LigplaatsPropertyByValueType">
    <sequence>
      <element ref="nen3610:Ligplaats"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Ligplaats" substitutionGroup="nen3610:GeoObject" type="nen3610:LigplaatsType"/>
  <complexType abstract="true" name="StandplaatsType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element ref="nen3610:adres"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StandplaatsPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Standplaats"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="StandplaatsPropertyByValueType">
    <sequence>
      <element ref="nen3610:Standplaats"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Standplaats" substitutionGroup="nen3610:GeoObject" type="nen3610:StandplaatsType"/>
  <complexType name="LocatieOmschrijvingType">
    <complexContent>
      <extension base="nen3610:LocatieType">
        <sequence>
          <element ref="nen3610:locatieOmschrijving"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LocatieOmschrijvingPropertyType">
    <sequence>
      <element ref="nen3610:LocatieOmschrijving"/>
    </sequence>
  </complexType>
  <element name="LocatieOmschrijving" substitutionGroup="nen3610:Locatie" type="nen3610:LocatieOmschrijvingType"/>
  <complexType abstract="true" name="PandType">
    <complexContent>
      <extension base="nen3610:GebouwType">
        <sequence>
          <element minOccurs="0" ref="nen3610:typePand"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:verblijfsobjectInPand"/>
          <element minOccurs="0" ref="nen3610:gebouwVoorPand"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PandPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Pand"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="PandPropertyByValueType">
    <sequence>
      <element ref="nen3610:Pand"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Pand" substitutionGroup="nen3610:Gebouw" type="nen3610:PandType"/>
  <complexType abstract="true" name="WegdeelType">
    <complexContent>
      <extension base="nen3610:WegType">
        <sequence>
          <element minOccurs="0" ref="nen3610:toegankelijkheid"/>
          <element minOccurs="0" ref="nen3610:typeInfrastructuurWegdeel"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:weg"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WegdeelPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Wegdeel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="WegdeelPropertyByValueType">
    <sequence>
      <element ref="nen3610:Wegdeel"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Wegdeel" substitutionGroup="nen3610:Weg" type="nen3610:WegdeelType"/>
  <complexType abstract="true" name="SpoorbaandeelType">
    <complexContent>
      <extension base="nen3610:SpoorbaanType">
        <sequence>
          <element minOccurs="0" ref="nen3610:typeInfrastructuurSpoorbaandeel"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:spoorbaan"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpoorbaandeelPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Spoorbaandeel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="SpoorbaandeelPropertyByValueType">
    <sequence>
      <element ref="nen3610:Spoorbaandeel"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Spoorbaandeel" substitutionGroup="nen3610:Spoorbaan" type="nen3610:SpoorbaandeelType"/>
  <complexType abstract="true" name="WaterdeelType">
    <complexContent>
      <extension base="nen3610:WaterType">
        <sequence>
          <element minOccurs="0" ref="nen3610:typeInfrastructuurWaterdeel"/>
          <element minOccurs="0" ref="nen3610:toegankelijkheid"/>
          <element maxOccurs="unbounded" minOccurs="0" ref="nen3610:water"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterdeelPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:Waterdeel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="WaterdeelPropertyByValueType">
    <sequence>
      <element ref="nen3610:Waterdeel"/>
    </sequence>
  </complexType>
  <element abstract="true" name="Waterdeel" substitutionGroup="nen3610:Water" type="nen3610:WaterdeelType"/>
  <complexType abstract="true" name="GeografischGebiedType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element minOccurs="0" ref="nen3610:typeGeografischGebied"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeografischGebiedPropertyType">
    <sequence>
      <element minOccurs="0" ref="nen3610:GeografischGebied"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <complexType name="GeografischGebiedPropertyByValueType">
    <sequence>
      <element ref="nen3610:GeografischGebied"/>
    </sequence>
  </complexType>
  <element abstract="true" name="GeografischGebied" substitutionGroup="nen3610:GeoObject" type="nen3610:GeografischGebiedType"/>
  <complexType name="AdresType">
    <sequence>
      <element ref="nen3610:woonplaatsNaam"/>
      <element minOccurs="0" ref="nen3610:huisnummer"/>
      <element minOccurs="0" ref="nen3610:huisnummerToevoeging"/>
      <element ref="nen3610:naamOpenbareRuimte"/>
      <element minOccurs="0" ref="nen3610:huisletter"/>
    </sequence>
  </complexType>
  <complexType name="AdresPropertyType">
    <sequence>
      <element ref="nen3610:Adres"/>
    </sequence>
  </complexType>
  <element name="Adres" type="nen3610:AdresType"/>
  <complexType name="LocatieNaamType">
    <complexContent>
      <extension base="nen3610:LocatieType">
        <sequence>
          <element ref="nen3610:locatieNaam"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LocatieNaamPropertyType">
    <sequence>
      <element ref="nen3610:LocatieNaam"/>
    </sequence>
  </complexType>
  <element name="LocatieNaam" substitutionGroup="nen3610:Locatie" type="nen3610:LocatieNaamType"/>
</schema>
