brk/doc/dkkv4/schema/dkk-schema-master/gmd/portrayalCatalogue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xlink="http://www.w3.org/1999/xlink"
           xmlns:gco="http://www.isotc211.org/2005/gco"
           xmlns:gmd="http://www.isotc211.org/2005/gmd"
           targetNamespace="http://www.isotc211.org/2005/gmd"
           elementFormDefault="qualified"
           version="0.1"><!--
This schema is provided by Kadaster as a local copy, as a convenience to the user. This schema may itself reference a local copy of the schema originally referenced by URI. The local reference takes the form of a relative path, and is introduced by Kadaster.
-->
	<!-- ================================= Annotation ================================ -->
	  <xs:annotation>
		    <xs:documentation>This file was generated from ISO TC/211 UML class diagrams == 01-26-2005 12:40:03 ====== </xs:documentation>
	  </xs:annotation>
	  <!-- ================================== Imports ================================== -->
	  <xs:import namespace="http://www.isotc211.org/2005/gco"
              schemaLocation="../gco/gco.xsd"/>
	  <xs:include schemaLocation="../gmd/citation.xsd"/>
	  <!-- ########################################################################### -->
	  <!-- ########################################################################### -->
	  <!-- ================================== Classes ================================= -->
	  <xs:complexType name="MD_PortrayalCatalogueReference_Type">
		    <xs:annotation>
			      <xs:documentation>Information identifing the portrayal catalogue used</xs:documentation>
		    </xs:annotation>
		    <xs:complexContent>
			      <xs:extension base="gco:AbstractObject_Type">
				        <xs:sequence>
					          <xs:element name="portrayalCatalogueCitation"
                           type="gmd:CI_Citation_PropertyType"
                           maxOccurs="unbounded"/>
				        </xs:sequence>
			      </xs:extension>
		    </xs:complexContent>
	  </xs:complexType>
	  <!-- ........................................................................ -->
	  <xs:element name="MD_PortrayalCatalogueReference"
               type="gmd:MD_PortrayalCatalogueReference_Type"/>
	  <!-- ........................................................................ -->
	  <xs:complexType name="MD_PortrayalCatalogueReference_PropertyType">
		    <xs:sequence minOccurs="0">
			      <xs:element ref="gmd:MD_PortrayalCatalogueReference"/>
		    </xs:sequence>
		    <xs:attributeGroup ref="gco:ObjectReference"/>
		    <xs:attribute ref="gco:nilReason"/>
	  </xs:complexType>
	  <!-- =========================================================================== -->
</xs:schema>
