top10nl/doc/schema/TOP10NL_1_1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" xmlns:top10nl="http://www.kadaster.nl/schemas/top10nl/v20120116" targetNamespace="http://www.kadaster.nl/schemas/top10nl/v20120116" elementFormDefault="qualified" version="1.1.1">
	<annotation>
		<documentation>TOP10NL versie 1.1.1. Geen NEN3610.xsd import meer. Wel toevoeging van attributen visualisatiecode en tdnCode. Ten opzichte van versie 1.1 is alleen het type van attr. nummer aangepast.  </documentation>
	</annotation>
	<import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="Wegdeel" type="top10nl:WegdeelType" substitutionGroup="top10nl:GeoObject"/>
	<complexType name="WegdeelType">
		<complexContent>
			<extension base="top10nl:GeoObjectType">
				<sequence>
					<element name="aantalRijstroken" type="integer" minOccurs="0"/>
					<element name="afritnaam" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="afritnummer" type="string" minOccurs="0"/>
					<element name="aWegnummer" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="brugnaam" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="eWegnummer" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="fysiekVoorkomen" type="top10nl:FysiekVoorkomenWegType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="geometrieLijn" type="gml:CurvePropertyType" minOccurs="0"/>
					<element name="geometriePunt" type="gml:PointPropertyType" minOccurs="0"/>
					<element name="geometrieVlak" type="gml:SurfacePropertyType" minOccurs="0"/>
					<element name="gescheidenRijbaan" type="top10nl:GescheidenRijbaanType"/>
					<element name="hartLijn" type="gml:CurvePropertyType" minOccurs="0"/>
					<element name="hartPunt" type="gml:PointPropertyType" minOccurs="0"/>
					<element name="hoofdverkeersgebruik" type="top10nl:HoofdverkeersgebruikType" maxOccurs="unbounded"/>
					<element name="hoogteniveau" type="integer"/>
					<element name="knooppuntnaam" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="nWegnummer" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="status" type="top10nl:StatusType"/>
					<element name="straatnaamFries" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="straatnaamNL" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="sWegnummer" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="tunnelnaam" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="typeInfrastructuurWegdeel" type="top10nl:TypeInfrastructuurWegdeelType"/>
					<element name="typeWeg" type="top10nl:TypeWegType" maxOccurs="unbounded"/>
					<element name="verhardingsbreedte" type="double" minOccurs="0"/>
					<element name="verhardingsbreedteklasse" type="top10nl:BreedteklasseVerhardingType" minOccurs="0"/>
					<element name="verhardingstype" type="top10nl:TypeVerhardingType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="WegdeelPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:Wegdeel"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<simpleType name="FysiekVoorkomenWegType">
		<restriction base="string">
			<enumeration value="op vast deel van brug"/>
			<enumeration value="op beweegbaar deel van brug"/>
			<enumeration value="overkluisd"/>
			<enumeration value="in tunnel"/>
			<enumeration value="als veer/pont"/>
		</restriction>
	</simpleType>
	<simpleType name="TypeVerhardingType">
		<restriction base="string">
			<enumeration value="verhard"/>
			<enumeration value="half verhard"/>
			<enumeration value="onverhard"/>
			<enumeration value="onbekend"/>
		</restriction>
	</simpleType>
	<simpleType name="HoofdverkeersgebruikType">
		<restriction base="string">
			<enumeration value="vliegverkeer"/>
			<enumeration value="snelverkeer"/>
			<enumeration value="busverkeer"/>
			<enumeration value="gemengd verkeer"/>
			<enumeration value="fietsers, bromfietsers"/>
			<enumeration value="voetgangers"/>
			<enumeration value="ruiters"/>
			<enumeration value="parkeren"/>
			<enumeration value="parkeren: carpoolplaats"/>
			<enumeration value="parkeren: P+R parkeerplaats"/>
			<enumeration value="overig"/>
			<enumeration value="onbekend"/>
		</restriction>
	</simpleType>
	<simpleType name="TypeWegType">
		<restriction base="string">
			<enumeration value="startbaan, landingsbaan"/>
			<enumeration value="rolbaan, platform"/>
			<enumeration value="autosnelweg"/>
			<enumeration value="hoofdweg"/>
			<enumeration value="regionale weg"/>
			<enumeration value="lokale weg"/>
			<enumeration value="straat"/>
			<enumeration value="overig"/>
			<enumeration value="onbekend"/>
		</restriction>
	</simpleType>
	<simpleType name="BreedteklasseVerhardingType">
		<restriction base="string">
			<enumeration value="&gt; 7 meter"/>
			<enumeration value="4 - 7 meter"/>
			<enumeration value="2 - 4 meter"/>
			<enumeration value="&lt; 2 meter"/>
		</restriction>
	</simpleType>
	<simpleType name="GescheidenRijbaanType">
		<restriction base="string">
			<enumeration value="ja"/>
			<enumeration value="nee"/>
		</restriction>
	</simpleType>
	<simpleType name="TypeInfrastructuurWegdeelType">
		<restriction base="string">
			<enumeration value="verbinding"/>
			<enumeration value="kruising"/>
			<enumeration value="overig verkeersgebied"/>
		</restriction>
	</simpleType>
	<element name="FunctioneelGebied" type="top10nl:FunctioneelGebiedType" substitutionGroup="top10nl:GeoObject"/>
	<complexType name="FunctioneelGebiedType">
		<complexContent>
			<extension base="top10nl:GeoObjectType">
				<sequence>
					<element name="geometrieVlak" type="gml:GeometryPropertyType" minOccurs="0"/>
					<element name="labelPunt" type="gml:PointPropertyType" minOccurs="0"/>
					<element name="naamFries" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="naamNL" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="typeFunctioneelGebied" type="top10nl:TypeFunctioneelGebiedType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="FunctioneelGebiedPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:FunctioneelGebied"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<simpleType name="TypeFunctioneelGebiedType">
		<restriction base="string">
			<enumeration value="arboretum"/>
			<enumeration value="bedrijventerrein"/>
			<enumeration value="begraafplaats"/>
			<enumeration value="boswachterij"/>
			<enumeration value="bungalowpark"/>
			<enumeration value="camping, kampeerterrein"/>
			<enumeration value="caravanpark"/>
			<enumeration value="circuit"/>
			<enumeration value="crossbaan"/>
			<enumeration value="dierentuin, safaripark"/>
			<enumeration value="eendenkooi"/>
			<enumeration value="emplacement"/>
			<enumeration value="erebegraafplaats"/>
			<enumeration value="gaswinning"/>
			<enumeration value="gebied met hoge objecten"/>
			<enumeration value="gebouwencomplex"/>
			<enumeration value="golfterrein"/>
			<enumeration value="grafheuvel"/>
			<enumeration value="grindwinning"/>
			<enumeration value="groeve"/>
			<enumeration value="haven"/>
			<enumeration value="heemtuin"/>
			<enumeration value="helikopterlandingsterrein"/>
			<enumeration value="ijsbaan"/>
			<enumeration value="infiltratiegebied"/>
			<enumeration value="jachthaven"/>
			<enumeration value="kartingbaan"/>
			<enumeration value="kazerne, legerplaats"/>
			<enumeration value="landgoed"/>
			<enumeration value="mijn"/>
			<enumeration value="mijnsteenberg"/>
			<enumeration value="militair oefengebied, schietterrein"/>
			<enumeration value="mosselbank"/>
			<enumeration value="natuurgebied, natuurreservaat"/>
			<enumeration value="oliewinning"/>
			<enumeration value="onbekend"/>
			<enumeration value="openluchtmuseum"/>
			<enumeration value="openluchttheater"/>
			<enumeration value="park"/>
			<enumeration value="pinetum"/>
			<enumeration value="plantsoen"/>
			<enumeration value="productie-installatie"/>
			<enumeration value="recreatiegebied"/>
			<enumeration value="renbaan"/>
			<enumeration value="skibaan"/>
			<enumeration value="slipschool"/>
			<enumeration value="sluizencomplex"/>
			<enumeration value="sportterrein, sportcomplex"/>
			<enumeration value="stortplaats"/>
			<enumeration value="tankbaan"/>
			<enumeration value="tennispark"/>
			<enumeration value="transformatorstation"/>
			<enumeration value="tuincentrum"/>
			<enumeration value="verzorgingsplaats"/>
			<enumeration value="viskwekerij"/>
			<enumeration value="vliegveld, luchthaven"/>
			<enumeration value="volkstuinen"/>
			<enumeration value="werf"/>
			<enumeration value="wildwissel"/>
			<enumeration value="windturbinepark"/>
			<enumeration value="woonwagencentrum"/>
			<enumeration value="zandwinning"/>
			<enumeration value="zenderpark"/>
			<enumeration value="zoutwinning"/>
			<enumeration value="zuiveringsinstallatie"/>
			<enumeration value="zweefvliegveldterrein"/>
			<enumeration value="zwembad complex"/>
		</restriction>
	</simpleType>
	<simpleType name="DimensieType">
		<restriction base="string">
			<enumeration value="2D"/>
			<enumeration value="3D"/>
		</restriction>
	</simpleType>
	<simpleType name="BrontypeType">
		<restriction base="string">
			<enumeration value="GBKN"/>
			<enumeration value="kaart"/>
			<enumeration value="luchtfoto"/>
			<enumeration value="overig"/>
			<enumeration value="RD"/>
			<enumeration value="top10vector"/>
		</restriction>
	</simpleType>
	<element name="GeoObject" type="top10nl:GeoObjectType" abstract="true" substitutionGroup="gml:_Feature"/>
	<complexType name="GeoObjectType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="identificatie" type="string"/>
					<element name="brontype" type="top10nl:BrontypeType"/>
					<element name="bronbeschrijving" type="string"/>
					<element name="bronactualiteit" type="date"/>
					<element name="bronnauwkeurigheid" type="double"/>
					<element name="dimensie" type="top10nl:DimensieType"/>
					<element name="objectBeginTijd" type="dateTime"/>
					<element name="versieBeginTijd" type="dateTime"/>
					<element name="objectEindTijd" type="dateTime" minOccurs="0"/>
					<element name="versieEindTijd" type="dateTime" minOccurs="0"/>
					<element name="visualisatieCode" type="integer" minOccurs="0"/>
					<element name="tdnCode" type="integer" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeoObjectPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:GeoObject"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<simpleType name="StatusType">
		<restriction base="string">
			<enumeration value="buiten gebruik"/>
			<enumeration value="in gebruik"/>
			<enumeration value="onbekend"/>
			<enumeration value="realisatie: in uitvoering"/>
			<enumeration value="realisatie: nog niet in uitvoering"/>
		</restriction>
	</simpleType>
	<element name="Waterdeel" type="top10nl:WaterdeelType" substitutionGroup="top10nl:GeoObject"/>
	<complexType name="WaterdeelType">
		<complexContent>
			<extension base="top10nl:GeoObjectType">
				<sequence>
					<element name="breedte" type="double" minOccurs="0"/>
					<element name="breedteklasse" type="top10nl:BreedteklasseWaterType" minOccurs="0"/>
					<element name="brugnaam" type="string" minOccurs="0"/>
					<element name="functie" type="top10nl:FunctieWaterType"/>
					<element name="fysiekVoorkomen" type="top10nl:FysiekVoorkomenWaterType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="geometrieLijn" type="gml:CurvePropertyType" minOccurs="0"/>
					<element name="geometriePunt" type="gml:PointPropertyType" minOccurs="0"/>
					<element name="geometrieVlak" type="gml:SurfacePropertyType" minOccurs="0"/>
					<element name="hoofdafwatering" type="top10nl:HoofdafwateringType"/>
					<element name="hoogteniveau" type="integer"/>
					<element name="naamFries" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="naamNL" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="scheepslaadvermogen" type="double" minOccurs="0"/>
					<element name="sluisnaam" type="string" minOccurs="0"/>
					<element name="status" type="top10nl:StatusType"/>
					<element name="stroomrichting" type="top10nl:StroomrichtingType" minOccurs="0"/>
					<element name="typeInfrastructuurWaterdeel" type="top10nl:TypeInfrastructuurWaterdeelType" minOccurs="0"/>
					<element name="typeWater" type="top10nl:TypeWaterType"/>
					<element name="voorkomenWater" type="top10nl:VoorkomenWaterType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="WaterdeelPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:Waterdeel"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<simpleType name="TypeWaterType">
		<restriction base="string">
			<enumeration value="bron, wel"/>
			<enumeration value="droogvallend"/>
			<enumeration value="greppel, droge sloot"/>
			<enumeration value="meer, plas, ven, vijver"/>
			<enumeration value="onbekend"/>
			<enumeration value="waterloop"/>
			<enumeration value="zee"/>
		</restriction>
	</simpleType>
	<simpleType name="FysiekVoorkomenWaterType">
		<restriction base="string">
			<enumeration value="in afsluitbare duiker"/>
			<enumeration value="in afsluitbare grondduiker"/>
			<enumeration value="in duiker"/>
			<enumeration value="in grondduiker"/>
			<enumeration value="in sluis"/>
			<enumeration value="op brug"/>
			<enumeration value="overkluisd"/>
		</restriction>
	</simpleType>
	<simpleType name="StroomrichtingType">
		<restriction base="string">
			<enumeration value="eenrichting"/>
			<enumeration value="stilstaand"/>
			<enumeration value="twee richtingen (getijde invloed)"/>
		</restriction>
	</simpleType>
	<simpleType name="BreedteklasseWaterType">
		<restriction base="string">
			<enumeration value="&gt; 6 meter"/>
			<enumeration value="0,5 - 3 meter"/>
			<enumeration value="3 - 6 meter"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieWaterType">
		<restriction base="string">
			<enumeration value="drinkwaterbekken"/>
			<enumeration value="haven"/>
			<enumeration value="natuurbad"/>
			<enumeration value="onbekend"/>
			<enumeration value="overig"/>
			<enumeration value="viskwekerij"/>
			<enumeration value="vistrap"/>
			<enumeration value="vloeiveld"/>
			<enumeration value="waterval"/>
			<enumeration value="waterzuivering"/>
			<enumeration value="zwembad"/>
		</restriction>
	</simpleType>
	<simpleType name="VoorkomenWaterType">
		<restriction base="string">
			<enumeration value="met riet"/>
			<enumeration value="overig"/>
		</restriction>
	</simpleType>
	<simpleType name="HoofdafwateringType">
		<restriction base="string">
			<enumeration value="ja"/>
			<enumeration value="nee"/>
		</restriction>
	</simpleType>
	<simpleType name="TypeInfrastructuurWaterdeelType">
		<restriction base="string">
			<enumeration value="kruising"/>
			<enumeration value="overig watergebied"/>
			<enumeration value="verbinding"/>
		</restriction>
	</simpleType>
	<element name="Terrein" type="top10nl:TerreinType" substitutionGroup="top10nl:GeoObject"/>
	<complexType name="TerreinType">
		<complexContent>
			<extension base="top10nl:GeoObjectType">
				<sequence>
					<element name="fysiekVoorkomen" type="top10nl:FysiekVoorkomenTerreinType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="geometrieVlak" type="gml:SurfacePropertyType"/>
					<element name="hoogteniveau" type="integer"/>
					<element name="naamFries" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="naamNL" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="typeLandgebruik" type="top10nl:TypeLandgebruikType"/>
					<element name="voorkomen" type="top10nl:VoorkomenTerreinType" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="TerreinPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:Terrein"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<simpleType name="VoorkomenTerreinType">
		<restriction base="string">
			<enumeration value="dras, moerassig"/>
			<enumeration value="met riet"/>
		</restriction>
	</simpleType>
	<simpleType name="FysiekVoorkomenTerreinType">
		<restriction base="string">
			<enumeration value="in tunnel"/>
			<enumeration value="op brug"/>
			<enumeration value="overkluisd"/>
		</restriction>
	</simpleType>
	<simpleType name="TypeLandgebruikType">
		<restriction base="string">
			<enumeration value="aanlegsteiger"/>
			<enumeration value="akkerland"/>
			<enumeration value="basaltblokken, steenglooiing"/>
			<enumeration value="bebouwd gebied"/>
			<enumeration value="boomgaard"/>
			<enumeration value="boomkwekerij"/>
			<enumeration value="bos: gemengd bos"/>
			<enumeration value="bos: griend"/>
			<enumeration value="bos: loofbos"/>
			<enumeration value="bos: naaldbos"/>
			<enumeration value="dodenakker"/>
			<enumeration value="dodenakker met bos"/>
			<enumeration value="fruitkwekerij"/>
			<enumeration value="grasland"/>
			<enumeration value="heide"/>
			<enumeration value="laadperron"/>
			<enumeration value="onbekend"/>
			<enumeration value="overig"/>
			<enumeration value="populieren"/>
			<enumeration value="spoorbaanlichaam"/>
			<enumeration value="zand"/>
		</restriction>
	</simpleType>
	<simpleType name="TypeGebouwType">
		<restriction base="string">
			<enumeration value="bezoekerscentrum"/>
			<enumeration value="brandtoren"/>
			<enumeration value="bunker"/>
			<enumeration value="crematorium"/>
			<enumeration value="deelraadsecretarie"/>
			<enumeration value="dok"/>
			<enumeration value="elektriciteitscentrale"/>
			<enumeration value="fabriek"/>
			<enumeration value="fort"/>
			<enumeration value="gascompressiestation"/>
			<enumeration value="gemaal"/>
			<enumeration value="gemeentehuis"/>
			<enumeration value="gevangenis"/>
			<enumeration value="grenskantoor"/>
			<enumeration value="hotel"/>
			<enumeration value="huizenblok"/>
			<enumeration value="hulpsecretarie"/>
			<enumeration value="kapel"/>
			<enumeration value="kas, warenhuis"/>
			<enumeration value="kasteel"/>
			<enumeration value="kerk"/>
			<enumeration value="kerncentrale, kernreactor"/>
			<enumeration value="kliniek, inrichting, sanatorium"/>
			<enumeration value="klokkentoren"/>
			<enumeration value="klooster, abdij"/>
			<enumeration value="koeltoren"/>
			<enumeration value="koepel"/>
			<enumeration value="kunstijsbaan"/>
			<enumeration value="lichttoren"/>
			<enumeration value="luchtwachttoren"/>
			<enumeration value="manege"/>
			<enumeration value="metrostation"/>
			<enumeration value="militair gebouw"/>
			<enumeration value="motel"/>
			<enumeration value="museum"/>
			<enumeration value="overig"/>
			<enumeration value="parkeerdak, parkeerdek, parkeergarage"/>
			<enumeration value="peilmeetstation"/>
			<enumeration value="politiebureau"/>
			<enumeration value="pompstation"/>
			<enumeration value="postkantoor"/>
			<enumeration value="psychiatrisch ziekenhuis, psychiatrisch centrum"/>
			<enumeration value="radarpost"/>
			<enumeration value="radartoren"/>
			<enumeration value="radiotoren, televisietoren"/>
			<enumeration value="recreatiecentrum"/>
			<enumeration value="reddingboothuisje"/>
			<enumeration value="reddinghuisje, schuilhut"/>
			<enumeration value="religieus gebouw"/>
			<enumeration value="remise"/>
			<enumeration value="ruïne"/>
			<enumeration value="schaapskooi"/>
			<enumeration value="school"/>
			<enumeration value="schoorsteen"/>
			<enumeration value="sporthal"/>
			<enumeration value="stadion"/>
			<enumeration value="stadskantoor"/>
			<enumeration value="tank"/>
			<enumeration value="tankstation"/>
			<enumeration value="telecommunicatietoren"/>
			<enumeration value="toren"/>
			<enumeration value="transformatorstation"/>
			<enumeration value="treinstation"/>
			<enumeration value="uitzichttoren"/>
			<enumeration value="universiteit"/>
			<enumeration value="veiling"/>
			<enumeration value="verkeerstoren"/>
			<enumeration value="vuurtoren"/>
			<enumeration value="waterradmolen"/>
			<enumeration value="watertoren"/>
			<enumeration value="wegenwachtstation"/>
			<enumeration value="wegrestaurant"/>
			<enumeration value="werf"/>
			<enumeration value="windmolen"/>
			<enumeration value="windmolen: korenmolen"/>
			<enumeration value="windmolen: watermolen"/>
			<enumeration value="windturbine"/>
			<enumeration value="zendtoren"/>
			<enumeration value="ziekenhuis"/>
			<enumeration value="zwembad"/>
		</restriction>
	</simpleType>
	<simpleType name="HoogteklasseGebouwType">
		<restriction base="string">
			<enumeration value="hoogbouw"/>
			<enumeration value="laagbouw"/>
			<enumeration value="onbekend"/>
		</restriction>
	</simpleType>
	<element name="Gebouw" type="top10nl:GebouwType" substitutionGroup="top10nl:GeoObject"/>
	<complexType name="GebouwType">
		<complexContent>
			<extension base="top10nl:GeoObjectType">
				<sequence>
					<element name="geometrieVlak" type="gml:SurfacePropertyType"/>
					<element name="hoogte" type="double" minOccurs="0"/>
					<element name="hoogteklasse" type="top10nl:HoogteklasseGebouwType"/>
					<element name="hoogteniveau" type="integer" minOccurs="0"/>
					<element name="naamNL" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="naamFries" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="status" type="top10nl:StatusType"/>
					<element name="typeGebouw" type="top10nl:TypeGebouwType" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GebouwPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:Gebouw"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<element name="Inrichtingselement" type="top10nl:InrichtingselementType" substitutionGroup="top10nl:GeoObject"/>
	<complexType name="InrichtingselementType">
		<complexContent>
			<extension base="top10nl:GeoObjectType">
				<sequence>
					<element name="geometrieLijn" type="gml:CurvePropertyType" minOccurs="0"/>
					<element name="geometriePunt" type="gml:PointPropertyType" minOccurs="0"/>
					<element name="hoogte" type="double" minOccurs="0"/>
					<element name="hoogteniveau" type="integer" minOccurs="0"/>
					<element name="naamNL" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="nummer" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="status" type="top10nl:StatusType"/>
					<element name="typeInrichtingselement" type="top10nl:TypeInrichtingselementType"/>
					<element name="naamFries" type="string" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="InrichtingselementPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:Inrichtingselement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<simpleType name="TypeInrichtingselementType">
		<restriction base="string">
			<enumeration value="aanlegsteiger"/>
			<enumeration value="baak"/>
			<enumeration value="bomenrij"/>
			<enumeration value="boom"/>
			<enumeration value="boorput"/>
			<enumeration value="boortoren"/>
			<enumeration value="BOS-pomp"/>
			<enumeration value="brandtoren"/>
			<enumeration value="dam, koedam"/>
			<enumeration value="dukdalf"/>
			<enumeration value="gaswinning"/>
			<enumeration value="gedenkteken, monument"/>
			<enumeration value="geluidswering"/>
			<enumeration value="gemaal"/>
			<enumeration value="golfmeetpaal"/>
			<enumeration value="GPS kernnetpunt"/>
			<enumeration value="grenspunt"/>
			<enumeration value="heg, haag"/>
			<enumeration value="hekwerk"/>
			<enumeration value="helikopterlandingsplatform"/>
			<enumeration value="hoogspanningsleiding"/>
			<enumeration value="hoogspanningsmast"/>
			<enumeration value="hunebed"/>
			<enumeration value="kaap"/>
			<enumeration value="kabelbaan"/>
			<enumeration value="kabelbaanmast"/>
			<enumeration value="kapel"/>
			<enumeration value="kilometerpaal"/>
			<enumeration value="kilometerpaal spoorweg"/>
			<enumeration value="kilometerpaal water"/>
			<enumeration value="kilometerraaibord"/>
			<enumeration value="kilometerraaipaal"/>
			<enumeration value="koeltoren"/>
			<enumeration value="koepel"/>
			<enumeration value="kogelvanger schietbaan"/>
			<enumeration value="kraan"/>
			<enumeration value="kruis"/>
			<enumeration value="laadperron"/>
			<enumeration value="leiding"/>
			<enumeration value="licht, lichtopstand"/>
			<enumeration value="lichttoren"/>
			<enumeration value="luchtvaartlicht"/>
			<enumeration value="markant object"/>
			<enumeration value="muur"/>
			<enumeration value="oliepompinstallatie"/>
			<enumeration value="onbekend"/>
			<enumeration value="overig"/>
			<enumeration value="paal"/>
			<enumeration value="paalwerk"/>
			<enumeration value="peilmeetstation"/>
			<enumeration value="peilschaal"/>
			<enumeration value="pijler"/>
			<enumeration value="radarpost"/>
			<enumeration value="radiobaken"/>
			<enumeration value="radiotelescoop"/>
			<enumeration value="RD punt"/>
			<enumeration value="schietbaan"/>
			<enumeration value="schoorsteen"/>
			<enumeration value="seinmast"/>
			<enumeration value="sluisdeur"/>
			<enumeration value="station"/>
			<enumeration value="stormvloedkering"/>
			<enumeration value="strandpaal"/>
			<enumeration value="strekdam, krib, golfbreker"/>
			<enumeration value="stuw"/>
			<enumeration value="tol"/>
			<enumeration value="toren"/>
			<enumeration value="uitzichttoren"/>
			<enumeration value="verkeersgeleider"/>
			<enumeration value="visplaats"/>
			<enumeration value="vlampijp"/>
			<enumeration value="wegafsluiting"/>
			<enumeration value="wegwijzer"/>
			<enumeration value="windmolen"/>
			<enumeration value="windmolen: korenmolen"/>
			<enumeration value="windmolen: watermolen"/>
			<enumeration value="windmolentje"/>
			<enumeration value="windturbine"/>
			<enumeration value="zeevaartlicht"/>
			<enumeration value="zendmast"/>
			<enumeration value="zichtbaar wrak"/>
		</restriction>
	</simpleType>
	<element name="Spoorbaandeel" type="top10nl:SpoorbaandeelType" substitutionGroup="top10nl:GeoObject"/>
	<complexType name="SpoorbaandeelType">
		<complexContent>
			<extension base="top10nl:GeoObjectType">
				<sequence>
					<element name="aantalSporen" type="integer"/>
					<element name="baanvaknaam" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="brugnaam" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="elektrificatie" type="top10nl:ElektrificatieSpoorType" minOccurs="0"/>
					<element name="fysiekVoorkomen" type="top10nl:FysiekVoorkomenSpoorType" minOccurs="0" maxOccurs="unbounded"/>
					<element name="geometrieLijn" type="gml:CurvePropertyType" minOccurs="0"/>
					<element name="geometriePunt" type="gml:PointPropertyType" minOccurs="0"/>
					<element name="hoogteniveau" type="integer" minOccurs="0"/>
					<element name="spoorbreedte" type="top10nl:SpoorbreedteType"/>
					<element name="status" type="top10nl:StatusType"/>
					<element name="tunnelnaam" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="typeInfrastructuurSpoorbaandeel" type="top10nl:TypeInfrastructuurSpoorbaandeelType"/>
					<element name="typeSpoorbaan" type="top10nl:TypeSpoorbaanType"/>
					<element name="vervoerfunctie" type="top10nl:VervoerfunctieSpoorType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SpoorbaandeelPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:Spoorbaandeel"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<simpleType name="TypeSpoorbaanType">
		<restriction base="string">
			<enumeration value="gemengd"/>
			<enumeration value="metro"/>
			<enumeration value="tram"/>
			<enumeration value="trein"/>
		</restriction>
	</simpleType>
	<simpleType name="VervoerfunctieSpoorType">
		<restriction base="string">
			<enumeration value="gemengd gebruik"/>
			<enumeration value="goederenvervoer"/>
			<enumeration value="museumlijn"/>
			<enumeration value="personenvervoer"/>
		</restriction>
	</simpleType>
	<simpleType name="FysiekVoorkomenSpoorType">
		<restriction base="string">
			<enumeration value="in tunnel"/>
			<enumeration value="op beweegbaar deel van brug"/>
			<enumeration value="op vast deel van brug"/>
			<enumeration value="overkluisd"/>
		</restriction>
	</simpleType>
	<simpleType name="SpoorbreedteType">
		<restriction base="string">
			<enumeration value="gemengd"/>
			<enumeration value="normaalspoor"/>
			<enumeration value="smalspoor"/>
		</restriction>
	</simpleType>
	<simpleType name="ElektrificatieSpoorType">
		<restriction base="string">
			<enumeration value="geëlektrificeerd"/>
			<enumeration value="gemengd"/>
			<enumeration value="niet geëlektrificeerd"/>
		</restriction>
	</simpleType>
	<simpleType name="TypeInfrastructuurSpoorbaandeelType">
		<restriction base="string">
			<enumeration value="kruising"/>
			<enumeration value="verbinding"/>
		</restriction>
	</simpleType>
	<element name="GeografischGebied" type="top10nl:GeografischGebiedType" substitutionGroup="top10nl:GeoObject"/>
	<complexType name="GeografischGebiedType">
		<complexContent>
			<extension base="top10nl:GeoObjectType">
				<sequence>
					<element name="aantalInwoners" type="integer" minOccurs="0"/>
					<element name="geometrieVlak" type="gml:GeometryPropertyType" minOccurs="0"/>
					<element name="labelPunt" type="gml:PointPropertyType" minOccurs="0"/>
					<element name="naamNL" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="typeGeografischGebied" type="top10nl:TypeGeografischGebiedType"/>
					<element name="naamFries" type="string" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeografischGebiedPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:GeografischGebied"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<simpleType name="TypeGeografischGebiedType">
		<restriction base="string">
			<enumeration value="bank, ondiepte, plaat"/>
			<enumeration value="bosgebied"/>
			<enumeration value="buurtschap"/>
			<enumeration value="duingebied"/>
			<enumeration value="eiland"/>
			<enumeration value="geul, vaargeul"/>
			<enumeration value="heidegebied"/>
			<enumeration value="heuvel, berg"/>
			<enumeration value="huizengroep"/>
			<enumeration value="kaap, hoek"/>
			<enumeration value="meer, plas, ven, vijver"/>
			<enumeration value="onbekend"/>
			<enumeration value="overig"/>
			<enumeration value="plaats, bewoond oord"/>
			<enumeration value="polder"/>
			<enumeration value="streek, veld"/>
			<enumeration value="terp"/>
			<enumeration value="vliedberg"/>
			<enumeration value="wad"/>
			<enumeration value="woonwijk"/>
			<enumeration value="zee"/>
			<enumeration value="zeegat, zeearm"/>
		</restriction>
	</simpleType>
	<element name="RegistratiefGebied" type="top10nl:RegistratiefGebiedType" substitutionGroup="top10nl:GeoObject"/>
	<complexType name="RegistratiefGebiedType">
		<complexContent>
			<extension base="top10nl:GeoObjectType">
				<sequence>
					<element name="geometrieVlak" type="gml:GeometryPropertyType" minOccurs="0"/>
					<element name="labelPunt" type="gml:PointPropertyType" minOccurs="0"/>
					<element name="naamFries" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="naamNL" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="nummer" type="integer" minOccurs="0" maxOccurs="unbounded"/>
					<element name="typeRegistratiefGebied" type="top10nl:TypeRegistratiefGebiedType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="RegistratiefGebiedPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:RegistratiefGebied"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<simpleType name="TypeRegistratiefGebiedType">
		<restriction base="string">
			<enumeration value="Bundesland"/>
			<enumeration value="buurt"/>
			<enumeration value="gemeente"/>
			<enumeration value="Kreis"/>
			<enumeration value="land"/>
			<enumeration value="nationaal park"/>
			<enumeration value="provincie"/>
			<enumeration value="Regierungsbezirk"/>
			<enumeration value="stadsdeel"/>
			<enumeration value="waterschap"/>
			<enumeration value="wijk"/>
		</restriction>
	</simpleType>
	<element name="Relief" type="top10nl:ReliefType" abstract="true" substitutionGroup="top10nl:GeoObject"/>
	<complexType name="ReliefType" abstract="true">
		<complexContent>
			<extension base="top10nl:GeoObjectType">
				<sequence>
					<element name="functie" type="top10nl:FunctieReliefType" minOccurs="0"/>
					<element name="hoogte" type="double" minOccurs="0"/>
					<element name="hoogteklasse" type="top10nl:HoogteklasseReliefType" minOccurs="0"/>
					<element name="hoogteniveau" type="integer" minOccurs="0"/>
					<element name="naamFries" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="naamNL" type="string" minOccurs="0" maxOccurs="unbounded"/>
					<element name="status" type="top10nl:StatusType"/>
					<element name="typeRelief" type="top10nl:TypeReliefType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ReliefPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:Relief"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<simpleType name="TypeReliefType">
		<restriction base="string">
			<enumeration value="dieptelijn"/>
			<enumeration value="dieptepunt"/>
			<enumeration value="hoogtelijn"/>
			<enumeration value="hoogtepunt"/>
			<enumeration value="kade, wal"/>
			<enumeration value="laagwaterlijn"/>
			<enumeration value="onbekend"/>
			<enumeration value="peil"/>
			<enumeration value="peil: winterpeil"/>
			<enumeration value="peil: zomerpeil"/>
			<enumeration value="steile rand, aardrand"/>
			<enumeration value="talud, hoogteverschil"/>
		</restriction>
	</simpleType>
	<simpleType name="FunctieReliefType">
		<restriction base="string">
			<enumeration value="geluid weren"/>
		</restriction>
	</simpleType>
	<element name="HoogteOfDieptePunt" type="top10nl:HoogteOfDieptePuntType" substitutionGroup="top10nl:Relief"/>
	<complexType name="HoogteOfDieptePuntType">
		<complexContent>
			<extension base="top10nl:ReliefType">
				<sequence>
					<element name="geometriePunt" type="gml:PointPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="HoogteOfDieptePuntPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:HoogteOfDieptePunt"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<element name="Hoogteverschil" type="top10nl:HoogteverschilType" substitutionGroup="top10nl:Relief"/>
	<complexType name="HoogteverschilType">
		<complexContent>
			<extension base="top10nl:ReliefType">
				<sequence>
					<element name="lageZijde" type="gml:CurvePropertyType"/>
					<element name="hogeZijde" type="gml:CurvePropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="HoogteverschilPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:Hoogteverschil"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<element name="IsoHoogte" type="top10nl:IsoHoogteType" substitutionGroup="top10nl:Relief"/>
	<complexType name="IsoHoogteType">
		<complexContent>
			<extension base="top10nl:ReliefType">
				<sequence>
					<element name="geometrieLijn" type="gml:CurvePropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="IsoHoogtePropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:IsoHoogte"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<simpleType name="HoogteklasseReliefType">
		<restriction base="string">
			<enumeration value="&gt; 1 meter"/>
			<enumeration value="&gt; 2,5 meter"/>
			<enumeration value="1 - 2,5 meter"/>
		</restriction>
	</simpleType>
	<element name="KadeOfWal" type="top10nl:KadeOfWalType" substitutionGroup="top10nl:Relief"/>
	<complexType name="KadeOfWalType">
		<complexContent>
			<extension base="top10nl:ReliefType">
				<sequence>
					<element name="geometrieLijn" type="gml:CurvePropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="KadeOfWalPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:KadeOfWal"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
	<element name="OverigRelief" type="top10nl:OverigReliefType" substitutionGroup="top10nl:Relief"/>
	<complexType name="OverigReliefType">
		<complexContent>
			<extension base="top10nl:ReliefType">
				<sequence>
					<element name="geometriePunt" type="gml:PointPropertyType" minOccurs="0"/>
					<element name="geometrieLijn" type="gml:CurvePropertyType" minOccurs="0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OverigReliefPropertyType">
		<sequence minOccurs="0">
			<element ref="top10nl:OverigRelief"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
	</complexType>
</schema>