top10nl/doc/1.0/schema/top10nl.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:gml="http://www.opengis.net/gml"
        xmlns:nen3610="http://www.ravi.nl/nen3610"
        xmlns:scXML="http://www.isotc211.org/scXML"
        xmlns:smXML="http://www.isotc211.org/smXML"
        xmlns:top10nl="http://www.kadaster.nl/top10nl"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        elementFormDefault="qualified" targetNamespace="http://www.kadaster.nl/top10nl" version="1.0">
  <import namespace="http://www.ravi.nl/nen3610" schemaLocation="nen3610.xsd"/>
  <import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/feature.xsd"/>
  <!-- Voor snelheid gebruik local versie XML NS DTD : http://lists.w3.org/Archives/Public/site-comments/2011Apr/0025.html -->
  <import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <complexType name="NaamMetTaalType">
    <simpleContent>
      <extension base="gml:CodeType">
          <attribute ref="xml:lang" use="optional"/>
      </extension>
    </simpleContent>
  </complexType>
  <element name="naam" substitutionGroup="nen3610:naam" type="top10nl:NaamMetTaalType"/>

  <group name="Top10Object">
    <sequence>
      <element name="brontype" type="top10nl:BrontypeType"/>
      <element name="bronbeschrijving" type="string"/>
      <element name="bronactualiteit" type="date"/>
      <element name="bronnauwkeurigheid" type="double"/>
      <element name="dimensie" type="top10nl:DimensieType"/>
    </sequence>
  </group>

  <element name="typeInfrastructuurWegdeel" type="top10nl:TypeInfrastructuurWegdeelType" substitutionGroup="nen3610:typeInfrastructuurWegdeel"/>
  <element name="typeInfrastructuurWaterdeel" type="top10nl:TypeInfrastructuurWaterdeelType" substitutionGroup="nen3610:typeInfrastructuurWaterdeel"/>
  <element name="typeInfrastructuurSpoorbaandeel" type="top10nl:TypeInfrastructuurSpoorbaandeelType" substitutionGroup="nen3610:typeInfrastructuurSpoorbaandeel"/>
  <element name="typeInfrastructuur" type="gml:CodeType" substitutionGroup="nen3610:typeInfrastructuur"/>
  <element name="typeWater" type="top10nl:TypeWaterType" substitutionGroup="nen3610:typeWater"/>
  <element name="typeSpoorbaan" type="top10nl:TypeSpoorbaanType" substitutionGroup="nen3610:typeSpoorbaan"/>
  <element name="typeWeg" type="top10nl:TypeWegType" substitutionGroup="nen3610:typeWeg"/>
  <element name="typeLandgebruik" type="top10nl:TypeLandgebruikType" substitutionGroup="nen3610:typeLandgebruik"/>
  <element name="typeInrichtingselement" type="top10nl:TypeInrichtingselementType" substitutionGroup="nen3610:typeInrichtingselement"/>
  <element name="typeGebouw" type="top10nl:TypeGebouwType" substitutionGroup="nen3610:typeGebouw"/>
  <element name="typeFunctioneelGebied" type="top10nl:TypeFunctioneelGebiedType" substitutionGroup="nen3610:typeFunctioneelGebied"/>
  <element name="typeGeografischGebied" type="top10nl:TypeGeografischGebiedType" substitutionGroup="nen3610:typeGeografischGebied"/>
  <element name="status" type="top10nl:StatusType" substitutionGroup="nen3610:status"/>
<!--Type and element definitions of this package-->
  <complexType name="TerreinType">
    <complexContent>
      <extension base="nen3610:TerreinType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="fysiekVoorkomen" type="top10nl:FysiekVoorkomenTerreinType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="voorkomen" type="top10nl:VoorkomenTerreinType"/>
          <element name="hoogteniveau" type="integer"/>
          <element name="geometrieVlak" type="gml:SurfacePropertyType"/>
          <group ref="top10nl:Top10Object"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TerreinPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:Terrein"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Terrein" substitutionGroup="nen3610:Terrein" type="top10nl:TerreinType"/>
  <complexType name="GebouwType">
    <complexContent>
      <extension base="nen3610:GebouwType">
        <sequence>
          <element name="hoogteklasse" type="top10nl:HoogteklasseGebouwType"/>
          <element minOccurs="0" name="hoogte" type="double"/>
          <element minOccurs="0" name="hoogteniveau" type="integer"/>
          <element name="geometrieVlak" type="gml:SurfacePropertyType"/>
          <group ref="top10nl:Top10Object"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GebouwPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:Gebouw"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Gebouw" substitutionGroup="nen3610:Gebouw" type="top10nl:GebouwType"/>
  <complexType name="InrichtingselementType">
    <complexContent>
      <extension base="nen3610:InrichtingselementType">
        <sequence>
          <element minOccurs="0" name="hoogte" type="double"/>
          <element maxOccurs="unbounded" minOccurs="0" name="nummer" type="double"/>
          <element minOccurs="0" name="hoogteniveau" type="integer"/>
          <element minOccurs="0" name="geometriePunt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="geometrieLijn" type="gml:CurvePropertyType"/>
          <group ref="top10nl:Top10Object"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="InrichtingselementPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:Inrichtingselement"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Inrichtingselement" substitutionGroup="nen3610:Inrichtingselement" type="top10nl:InrichtingselementType"/>
  <complexType name="FunctioneelGebiedType">
    <complexContent>
      <extension base="nen3610:FunctioneelGebiedType">
        <sequence>
          <element minOccurs="0" name="geometrieVlak" type="gml:SurfacePropertyType"/>
          <element minOccurs="0" name="labelPunt" type="gml:PointPropertyType"/>
          <group ref="top10nl:Top10Object"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FunctioneelGebiedPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:FunctioneelGebied"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="FunctioneelGebied" substitutionGroup="nen3610:FunctioneelGebied" type="top10nl:FunctioneelGebiedType"/>
  <complexType name="RegistratiefGebiedType">
    <complexContent>
      <extension base="nen3610:RegistratiefGebiedType">
        <sequence>
          <element name="typeRegistratiefGebied" type="top10nl:TypeRegistratiefGebiedType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="nummer" type="integer"/>
          <element minOccurs="0" name="geometrieVlak" type="gml:SurfacePropertyType"/>
          <element minOccurs="0" name="labelPunt" type="gml:PointPropertyType"/>
          <group ref="top10nl:Top10Object"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="RegistratiefGebiedPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:RegistratiefGebied"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="RegistratiefGebied" substitutionGroup="nen3610:RegistratiefGebied" type="top10nl:RegistratiefGebiedType"/>
  <complexType name="GeografischGebiedType">
    <complexContent>
      <extension base="nen3610:GeografischGebiedType">
        <sequence>
          <element minOccurs="0" name="aantalInwoners" type="integer"/>
          <element minOccurs="0" name="geometrieVlak" type="gml:SurfacePropertyType"/>
          <element minOccurs="0" name="labelPunt" type="gml:PointPropertyType"/>
          <group ref="top10nl:Top10Object"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeografischGebiedPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:GeografischGebied"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="GeografischGebied" substitutionGroup="nen3610:GeografischGebied" type="top10nl:GeografischGebiedType"/>
  <complexType name="WegdeelType">
    <complexContent>
      <extension base="nen3610:WegdeelType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="hoofdverkeersgebruik" type="top10nl:HoofdverkeersgebruikType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="fysiekVoorkomen" type="top10nl:FysiekVoorkomenWegType"/>
          <element minOccurs="0" name="verhardingsbreedteklasse" type="top10nl:BreedteklasseVerhardingType"/>
          <element minOccurs="0" name="verhardingsbreedte" type="double"/>
          <element name="gescheidenRijbaan" type="top10nl:GescheidenRijbaanType"/>
          <element name="verhardingstype" type="top10nl:TypeVerhardingType"/>
          <element minOccurs="0" name="aantalRijstroken" type="integer"/>
          <element maxOccurs="unbounded" minOccurs="0" name="straatnaam" type="top10nl:NaamMetTaalType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="aWegnummer" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="nWegnummer" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="eWegnummer" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="sWegnummer" type="string"/>
          <element minOccurs="0" name="afritnummer" type="string"/>
          <element maxOccurs="unbounded" minOccurs="0" name="afritnaam" type="top10nl:NaamMetTaalType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="knooppuntnaam" type="top10nl:NaamMetTaalType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="brugnaam" type="top10nl:NaamMetTaalType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="tunnelnaam" type="top10nl:NaamMetTaalType"/>
          <element name="hoogteniveau" type="integer"/>
          <element minOccurs="0" name="geometriePunt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="geometrieLijn" type="gml:CurvePropertyType"/>
          <element minOccurs="0" name="geometrieVlak" type="gml:SurfacePropertyType"/>
          <element minOccurs="0" name="hartPunt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="hartLijn" type="gml:CurvePropertyType"/>
          <group ref="top10nl:Top10Object"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WegdeelPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:Wegdeel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Wegdeel" substitutionGroup="nen3610:Wegdeel" type="top10nl:WegdeelType"/>
  <complexType name="SpoorbaandeelType">
    <complexContent>
      <extension base="nen3610:SpoorbaandeelType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="fysiekVoorkomen" type="top10nl:FysiekVoorkomenSpoorType"/>
          <element name="spoorbreedte" type="top10nl:SpoorbreedteType"/>
          <element name="aantalSporen" type="integer"/>
          <element minOccurs="0" name="vervoerfunctie" type="top10nl:VervoerfunctieSpoorType"/>
          <element minOccurs="0" name="elektrificatie" type="top10nl:ElektrificatieSpoorType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="brugnaam" type="top10nl:NaamMetTaalType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="tunnelnaam" type="top10nl:NaamMetTaalType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="baanvaknaam" type="top10nl:NaamMetTaalType"/>
          <element minOccurs="0" name="hoogteniveau" type="integer"/>
          <element minOccurs="0" name="geometriePunt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="geometrieLijn" type="gml:CurvePropertyType"/>
          <group ref="top10nl:Top10Object"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SpoorbaandeelPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:Spoorbaandeel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Spoorbaandeel" substitutionGroup="nen3610:Spoorbaandeel" type="top10nl:SpoorbaandeelType"/>
  <complexType name="WaterdeelType">
    <complexContent>
      <extension base="nen3610:WaterdeelType">
        <sequence>
          <element minOccurs="0" name="breedteklasse" type="top10nl:BreedteklasseWaterType"/>
          <element minOccurs="0" name="breedte" type="double"/>
          <element name="hoofdafwatering" type="top10nl:HoofdafwateringType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="fysiekVoorkomen" type="top10nl:FysiekVoorkomenWaterType"/>
          <element name="functie" type="top10nl:FunctieWaterType"/>
          <element name="voorkomenWater" type="top10nl:VoorkomenWaterType"/>
          <element minOccurs="0" name="stroomrichting" type="top10nl:StroomrichtingType"/>
          <element minOccurs="0" name="scheepslaadvermogen" type="double"/>
          <element minOccurs="0" name="sluisnaam" type="top10nl:NaamMetTaalType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="brugnaam" type="top10nl:NaamMetTaalType"/>
          <element name="hoogteniveau" type="integer"/>
          <element minOccurs="0" name="geometriePunt" type="gml:PointPropertyType"/>
          <element minOccurs="0" name="geometrieLijn" type="gml:CurvePropertyType"/>
          <element minOccurs="0" name="geometrieVlak" type="gml:SurfacePropertyType"/>
          <group ref="top10nl:Top10Object"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="WaterdeelPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:Waterdeel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Waterdeel" substitutionGroup="nen3610:Waterdeel" type="top10nl:WaterdeelType"/>
  <complexType abstract="true" name="ReliëfType">
    <complexContent>
      <extension base="nen3610:GeoObjectType">
        <sequence>
          <element name="typeReliëf" type="top10nl:TypeReliëfType"/>
          <element minOccurs="0" name="hoogte" type="double"/>
          <element minOccurs="0" name="hoogteklasse" type="top10nl:HoogteklasseReliëfType"/>
          <element minOccurs="0" name="functie" type="top10nl:FunctieReliëfType"/>
          <element minOccurs="0" name="hoogteniveau" type="integer"/>
          <group ref="top10nl:Top10Object"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ReliëfPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:Reliëf"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element abstract="true" name="Reliëf" substitutionGroup="nen3610:GeoObject" type="top10nl:ReliëfType"/>
  <complexType name="HoogteOfDieptePuntType">
    <complexContent>
      <extension base="top10nl:ReliëfType">
        <sequence>
          <element name="geometriePunt" type="gml:PointPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HoogteOfDieptePuntPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:HoogteOfDieptePunt"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="HoogteOfDieptePunt" substitutionGroup="top10nl:Reliëf" type="top10nl:HoogteOfDieptePuntType"/>
  <complexType name="HoogteverschilType">
    <complexContent>
      <extension base="top10nl:ReliëfType">
        <sequence>
          <element name="hogeZijde" type="gml:CurvePropertyType"/>
          <element name="lageZijde" type="gml:CurvePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HoogteverschilPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:Hoogteverschil"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="Hoogteverschil" substitutionGroup="top10nl:Reliëf" type="top10nl:HoogteverschilType"/>
  <complexType name="IsoHoogteType">
    <complexContent>
      <extension base="top10nl:ReliëfType">
        <sequence>
          <element name="geometrieLijn" type="gml:CurvePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="IsoHoogtePropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:IsoHoogte"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="IsoHoogte" substitutionGroup="top10nl:Reliëf" type="top10nl:IsoHoogteType"/>
  <complexType name="KadeOfWalType">
    <complexContent>
      <extension base="top10nl:ReliëfType">
        <sequence>
          <element name="geometrieLijn" type="gml:CurvePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KadeOfWalPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:KadeOfWal"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="KadeOfWal" substitutionGroup="top10nl:Reliëf" type="top10nl:KadeOfWalType"/>
  <complexType name="OverigReliëfType">
    <complexContent>
      <extension base="top10nl:ReliëfType">
        <sequence>
          <element name="geometriePunt" type="gml:PointPropertyType"/>
          <element name="geometrieLijn" type="gml:CurvePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OverigReliëfPropertyType">
    <sequence>
      <element minOccurs="0" ref="top10nl:OverigReliëf"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
  </complexType>
  <element name="OverigReliëf" substitutionGroup="top10nl:Reliëf" type="top10nl:OverigReliëfType"/>
  <complexType name="DimensieType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="2D"/>
        <enumeration value="3D"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="StatusType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="buiten gebruik"/>
        <enumeration value="in gebruik"/>
        <enumeration value="onbekend"/>
        <enumeration value="realisatie: in uitvoering"/>
        <enumeration value="realisatie: nog niet in uitvoering"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="FysiekVoorkomenWegType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="als veer/pont"/>
        <enumeration value="in tunnel"/>
        <enumeration value="op beweegbaar deel van brug"/>
        <enumeration value="op vast deel van brug"/>
        <enumeration value="overkluisd"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeVerhardingType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="half verhard"/>
        <enumeration value="onbekend"/>
        <enumeration value="onverhard"/>
        <enumeration value="verhard"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="HoofdverkeersgebruikType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="busverkeer"/>
        <enumeration value="fietsers, bromfietsers"/>
        <enumeration value="gemengd verkeer"/>
        <enumeration value="onbekend"/>
        <enumeration value="overig"/>
        <enumeration value="parkeren"/>
        <enumeration value="parkeren: P+R parkeerplaats"/>
        <enumeration value="parkeren: carpoolplaats"/>
        <enumeration value="ruiters"/>
        <enumeration value="snelverkeer"/>
        <enumeration value="vliegverkeer"/>
        <enumeration value="voetgangers"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeWegType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="autosnelweg"/>
        <enumeration value="hoofdweg"/>
        <enumeration value="lokale weg"/>
        <enumeration value="onbekend"/>
        <enumeration value="overig"/>
        <enumeration value="regionale weg"/>
        <enumeration value="rolbaan, platform"/>
        <enumeration value="startbaan, landingsbaan"/>
        <enumeration value="straat"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeWaterType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="bron, wel"/>
        <enumeration value="droogvallend"/>
        <enumeration value="greppel, droge sloot"/>
        <enumeration value="meer, plas, ven, vijver"/>
        <enumeration value="onbekend"/>
        <enumeration value="waterloop"/>
        <enumeration value="zee"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="VoorkomenTerreinType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="dras, moerassig"/>
        <enumeration value="met riet"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeSpoorbaanType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="gemengd"/>
        <enumeration value="metro"/>
        <enumeration value="tram"/>
        <enumeration value="trein"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeInrichtingselementType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="BOS-pomp"/>
        <enumeration value="GPS kernnetpunt"/>
        <enumeration value="RD punt"/>
        <enumeration value="aanlegsteiger"/>
        <enumeration value="baak"/>
        <enumeration value="bomenrij"/>
        <enumeration value="boom"/>
        <enumeration value="boorput"/>
        <enumeration value="boortoren"/>
        <enumeration value="brandtoren"/>
        <enumeration value="dam, koedam"/>
        <enumeration value="dukdalf"/>
        <enumeration value="gaswinning"/>
        <enumeration value="gedenkteken, monument"/>
        <enumeration value="geluidswering"/>
        <enumeration value="gemaal"/>
        <enumeration value="golfmeetpaal"/>
        <enumeration value="grenspunt"/>
        <enumeration value="heg, haag"/>
        <enumeration value="hekwerk"/>
        <enumeration value="helikopterlandingsplatform"/>
        <enumeration value="hoogspanningsleiding"/>
        <enumeration value="hoogspanningsmast"/>
        <enumeration value="hunebed"/>
        <enumeration value="kaap"/>
        <enumeration value="kabelbaan"/>
        <enumeration value="kabelbaanmast"/>
        <enumeration value="kapel"/>
        <enumeration value="kilometerpaal"/>
        <enumeration value="kilometerpaal spoorweg"/>
        <enumeration value="kilometerpaal water"/>
        <enumeration value="kilometerraaibord"/>
        <enumeration value="kilometerraaipaal"/>
        <enumeration value="koeltoren"/>
        <enumeration value="koepel"/>
        <enumeration value="kogelvanger schietbaan"/>
        <enumeration value="kraan"/>
        <enumeration value="kruis"/>
        <enumeration value="laadperron"/>
        <enumeration value="leiding"/>
        <enumeration value="licht, lichtopstand"/>
        <enumeration value="lichttoren"/>
        <enumeration value="luchtvaartlicht"/>
        <enumeration value="markant object"/>
        <enumeration value="muur"/>
        <enumeration value="oliepompinstallatie"/>
        <enumeration value="onbekend"/>
        <enumeration value="overig"/>
        <enumeration value="paal"/>
        <enumeration value="paalwerk"/>
        <enumeration value="peilmeetstation"/>
        <enumeration value="peilschaal"/>
        <enumeration value="pijler"/>
        <enumeration value="radarpost"/>
        <enumeration value="radiobaken"/>
        <enumeration value="radiotelescoop"/>
        <enumeration value="schietbaan"/>
        <enumeration value="schoorsteen"/>
        <enumeration value="seinmast"/>
        <enumeration value="sluisdeur"/>
        <enumeration value="station"/>
        <enumeration value="stormvloedkering"/>
        <enumeration value="strandpaal"/>
        <enumeration value="strekdam, krib, golfbreker"/>
        <enumeration value="stuw"/>
        <enumeration value="tol"/>
        <enumeration value="toren"/>
        <enumeration value="uitzichttoren"/>
        <enumeration value="verkeersgeleider"/>
        <enumeration value="visplaats"/>
        <enumeration value="vlampijp"/>
        <enumeration value="wegafsluiting"/>
        <enumeration value="wegwijzer"/>
        <enumeration value="windmolen"/>
        <enumeration value="windmolen: korenmolen"/>
        <enumeration value="windmolen: watermolen"/>
        <enumeration value="windmolentje"/>
        <enumeration value="windturbine"/>
        <enumeration value="zeevaartlicht"/>
        <enumeration value="zendmast"/>
        <enumeration value="zichtbaar wrak"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeGeografischGebiedType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="bank, ondiepte, plaat"/>
        <enumeration value="bosgebied"/>
        <enumeration value="buurtschap"/>
        <enumeration value="duingebied"/>
        <enumeration value="eiland"/>
        <enumeration value="geul, vaargeul"/>
        <enumeration value="heidegebied"/>
        <enumeration value="heuvel, berg"/>
        <enumeration value="huizengroep"/>
        <enumeration value="kaap, hoek"/>
        <enumeration value="meer, plas, ven, vijver"/>
        <enumeration value="onbekend"/>
        <enumeration value="overig"/>
        <enumeration value="plaats, bewoond oord"/>
        <enumeration value="polder"/>
        <enumeration value="streek, veld"/>
        <enumeration value="terp"/>
        <enumeration value="vliedberg"/>
        <enumeration value="wad"/>
        <enumeration value="woonwijk"/>
        <enumeration value="zee"/>
        <enumeration value="zeegat, zeearm"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeGebouwType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="bezoekerscentrum"/>
        <enumeration value="brandtoren"/>
        <enumeration value="bunker"/>
        <enumeration value="crematorium"/>
        <enumeration value="deelraadsecretarie"/>
        <enumeration value="dok"/>
        <enumeration value="elektriciteitscentrale"/>
        <enumeration value="fabriek"/>
        <enumeration value="fort"/>
        <enumeration value="gascompressiestation"/>
        <enumeration value="gemaal"/>
        <enumeration value="gemeentehuis"/>
        <enumeration value="gevangenis"/>
        <enumeration value="grenskantoor"/>
        <enumeration value="hotel"/>
        <enumeration value="huizenblok"/>
        <enumeration value="hulpsecretarie"/>
        <enumeration value="kapel"/>
        <enumeration value="kas, warenhuis"/>
        <enumeration value="kasteel"/>
        <enumeration value="kerk"/>
        <enumeration value="kerncentrale, kernreactor"/>
        <enumeration value="kliniek, inrichting, sanatorium"/>
        <enumeration value="klokkentoren"/>
        <enumeration value="klooster, abdij"/>
        <enumeration value="koeltoren"/>
        <enumeration value="koepel"/>
        <enumeration value="kunstijsbaan"/>
        <enumeration value="lichttoren"/>
        <enumeration value="luchtwachttoren"/>
        <enumeration value="manege"/>
        <enumeration value="metrostation"/>
        <enumeration value="militair gebouw"/>
        <enumeration value="motel"/>
        <enumeration value="museum"/>
        <enumeration value="overig"/>
        <enumeration value="parkeerdak, parkeerdek, parkeergarage"/>
        <enumeration value="peilmeetstation"/>
        <enumeration value="politiebureau"/>
        <enumeration value="pompstation"/>
        <enumeration value="postkantoor"/>
        <enumeration value="psychiatrisch ziekenhuis, psychiatrisch centrum"/>
        <enumeration value="radarpost"/>
        <enumeration value="radartoren"/>
        <enumeration value="radiotoren, televisietoren"/>
        <enumeration value="recreatiecentrum"/>
        <enumeration value="reddingboothuisje"/>
        <enumeration value="reddinghuisje, schuilhut"/>
        <enumeration value="religieus gebouw"/>
        <enumeration value="remise"/>
        <enumeration value="ruïne"/>
        <enumeration value="schaapskooi"/>
        <enumeration value="school"/>
        <enumeration value="schoorsteen"/>
        <enumeration value="sporthal"/>
        <enumeration value="stadion"/>
        <enumeration value="stadskantoor"/>
        <enumeration value="tank"/>
        <enumeration value="tankstation"/>
        <enumeration value="telecommunicatietoren"/>
        <enumeration value="toren"/>
        <enumeration value="transformatorstation"/>
        <enumeration value="treinstation"/>
        <enumeration value="uitzichttoren"/>
        <enumeration value="universiteit"/>
        <enumeration value="veiling"/>
        <enumeration value="verkeerstoren"/>
        <enumeration value="vuurtoren"/>
        <enumeration value="waterradmolen"/>
        <enumeration value="watertoren"/>
        <enumeration value="wegenwachtstation"/>
        <enumeration value="wegrestaurant"/>
        <enumeration value="werf"/>
        <enumeration value="windmolen"/>
        <enumeration value="windmolen: korenmolen"/>
        <enumeration value="windmolen: watermolen"/>
        <enumeration value="windturbine"/>
        <enumeration value="zendtoren"/>
        <enumeration value="ziekenhuis"/>
        <enumeration value="zwembad"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="VervoerfunctieSpoorType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="gemengd gebruik"/>
        <enumeration value="goederenvervoer"/>
        <enumeration value="museumlijn"/>
        <enumeration value="personenvervoer"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="FysiekVoorkomenSpoorType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="in tunnel"/>
        <enumeration value="op beweegbaar deel van brug"/>
        <enumeration value="op vast deel van brug"/>
        <enumeration value="overkluisd"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="FysiekVoorkomenTerreinType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="in tunnel"/>
        <enumeration value="op brug"/>
        <enumeration value="overkluisd"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="FysiekVoorkomenWaterType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="in afsluitbare duiker"/>
        <enumeration value="in afsluitbare grondduiker"/>
        <enumeration value="in duiker"/>
        <enumeration value="in grondduiker"/>
        <enumeration value="in sluis"/>
        <enumeration value="op brug"/>
        <enumeration value="overkluisd"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="HoogteklasseGebouwType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="hoogbouw"/>
        <enumeration value="laagbouw"/>
        <enumeration value="onbekend"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeLandgebruikType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="aanlegsteiger"/>
        <enumeration value="akkerland"/>
        <enumeration value="basaltblokken, steenglooiing"/>
        <enumeration value="bebouwd gebied"/>
        <enumeration value="boomgaard"/>
        <enumeration value="boomkwekerij"/>
        <enumeration value="bos: gemengd bos"/>
        <enumeration value="bos: griend"/>
        <enumeration value="bos: loofbos"/>
        <enumeration value="bos: naaldbos"/>
        <enumeration value="dodenakker"/>
        <enumeration value="dodenakker met bos"/>
        <enumeration value="fruitkwekerij"/>
        <enumeration value="grasland"/>
        <enumeration value="heide"/>
        <enumeration value="laadperron"/>
        <enumeration value="onbekend"/>
        <enumeration value="overig"/>
        <enumeration value="populieren"/>
        <enumeration value="spoorbaanlichaam"/>
        <enumeration value="zand"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="SpoorbreedteType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="gemengd"/>
        <enumeration value="normaalspoor"/>
        <enumeration value="smalspoor"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="StroomrichtingType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="eenrichting"/>
        <enumeration value="stilstaand"/>
        <enumeration value="twee richtingen (getijde invloed)"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeFunctioneelGebiedType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="arboretum"/>
        <enumeration value="bedrijventerrein"/>
        <enumeration value="begraafplaats"/>
        <enumeration value="boswachterij"/>
        <enumeration value="bungalowpark"/>
        <enumeration value="camping, kampeerterrein"/>
        <enumeration value="caravanpark"/>
        <enumeration value="circuit"/>
        <enumeration value="crossbaan"/>
        <enumeration value="dierentuin, safaripark"/>
        <enumeration value="eendenkooi"/>
        <enumeration value="emplacement"/>
        <enumeration value="erebegraafplaats"/>
        <enumeration value="gaswinning"/>
        <enumeration value="gebied met hoge objecten"/>
        <enumeration value="gebouwencomplex"/>
        <enumeration value="golfterrein"/>
        <enumeration value="grafheuvel"/>
        <enumeration value="grindwinning"/>
        <enumeration value="groeve"/>
        <enumeration value="haven"/>
        <enumeration value="heemtuin"/>
        <enumeration value="helikopterlandingsterrein"/>
        <enumeration value="ijsbaan"/>
        <enumeration value="infiltratiegebied"/>
        <enumeration value="jachthaven"/>
        <enumeration value="kartingbaan"/>
        <enumeration value="kazerne, legerplaats"/>
        <enumeration value="landgoed"/>
        <enumeration value="mijn"/>
        <enumeration value="mijnsteenberg"/>
        <enumeration value="militair oefengebied, schietterrein"/>
        <enumeration value="mosselbank"/>
        <enumeration value="natuurgebied, natuurreservaat"/>
        <enumeration value="oliewinning"/>
        <enumeration value="onbekend"/>
        <enumeration value="openluchtmuseum"/>
        <enumeration value="openluchttheater"/>
        <enumeration value="park"/>
        <enumeration value="pinetum"/>
        <enumeration value="plantsoen"/>
        <enumeration value="productie-installatie"/>
        <enumeration value="recreatiegebied"/>
        <enumeration value="renbaan"/>
        <enumeration value="skibaan"/>
        <enumeration value="slipschool"/>
        <enumeration value="sluizencomplex"/>
        <enumeration value="sportterrein, sportcomplex"/>
        <enumeration value="stortplaats"/>
        <enumeration value="tankbaan"/>
        <enumeration value="tennispark"/>
        <enumeration value="transformatorstation"/>
        <enumeration value="tuincentrum"/>
        <enumeration value="verzorgingsplaats"/>
        <enumeration value="viskwekerij"/>
        <enumeration value="vliegveld, luchthaven"/>
        <enumeration value="volkstuinen"/>
        <enumeration value="werf"/>
        <enumeration value="wildwissel"/>
        <enumeration value="windturbinepark"/>
        <enumeration value="woonwagencentrum"/>
        <enumeration value="zandwinning"/>
        <enumeration value="zenderpark"/>
        <enumeration value="zoutwinning"/>
        <enumeration value="zuiveringsinstallatie"/>
        <enumeration value="zweefvliegveldterrein"/>
        <enumeration value="zwembad complex"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="ElektrificatieSpoorType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="gemengd"/>
        <enumeration value="geëlektrificeerd"/>
        <enumeration value="niet geëlektrificeerd"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeRegistratiefGebiedType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="Bundesland"/>
        <enumeration value="Kreis"/>
        <enumeration value="Regierungsbezirk"/>
        <enumeration value="buurt"/>
        <enumeration value="gemeente"/>
        <enumeration value="land"/>
        <enumeration value="nationaal park"/>
        <enumeration value="provincie"/>
        <enumeration value="stadsdeel"/>
        <enumeration value="waterschap"/>
        <enumeration value="wijk"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="BreedteklasseVerhardingType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="2 - 4 meter"/>
        <enumeration value="4 - 7 meter"/>
        <enumeration value="&lt; 2 meter"/>
        <enumeration value="&gt; 7 meter"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="BreedteklasseWaterType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="0,5 - 3 meter"/>
        <enumeration value="3 - 6 meter"/>
        <enumeration value="&gt; 6 meter"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="FunctieWaterType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="drinkwaterbekken"/>
        <enumeration value="haven"/>
        <enumeration value="natuurbad"/>
        <enumeration value="onbekend"/>
        <enumeration value="overig"/>
        <enumeration value="viskwekerij"/>
        <enumeration value="vistrap"/>
        <enumeration value="vloeiveld"/>
        <enumeration value="waterval"/>
        <enumeration value="waterzuivering"/>
        <enumeration value="zwembad"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeReliëfType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="dieptelijn"/>
        <enumeration value="dieptepunt"/>
        <enumeration value="hoogtelijn"/>
        <enumeration value="hoogtepunt"/>
        <enumeration value="kade, wal"/>
        <enumeration value="laagwaterlijn"/>
        <enumeration value="onbekend"/>
        <enumeration value="peil"/>
        <enumeration value="peil: winterpeil"/>
        <enumeration value="peil: zomerpeil"/>
        <enumeration value="steile rand, aardrand"/>
        <enumeration value="talud, hoogteverschil"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="FunctieReliëfType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="geluid weren"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="VoorkomenWaterType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="met riet"/>
        <enumeration value="overig"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="BrontypeType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="GBKN"/>
        <enumeration value="RD"/>
        <enumeration value="kaart"/>
        <enumeration value="luchtfoto"/>
        <enumeration value="overig"/>
        <enumeration value="top10vector"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="HoofdafwateringType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="ja"/>
        <enumeration value="nee"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="GescheidenRijbaanType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="ja"/>
        <enumeration value="nee"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeInfrastructuurWaterdeelType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="kruising"/>
        <enumeration value="overig watergebied"/>
        <enumeration value="verbinding"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeInfrastructuurWegdeelType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="kruising"/>
        <enumeration value="overig verkeersgebied"/>
        <enumeration value="verbinding"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="TypeInfrastructuurSpoorbaandeelType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="kruising"/>
        <enumeration value="verbinding"/>
      </restriction>
    </simpleContent>
  </complexType>
  <complexType name="HoogteklasseReliëfType">
    <simpleContent>
      <restriction base="gml:CodeType">
        <enumeration value="1 - 2,5 meter"/>
        <enumeration value="&gt; 1 meter"/>
        <enumeration value="&gt; 2,5 meter"/>
      </restriction>
    </simpleContent>
  </complexType>
</schema>
