top10nl/doc/1.2/top10nl-concept.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:brt="http://www.kadaster.nl/schemas/imbrt/brt-alg/1.0"
        xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:top10nl="http://www.kadaster.nl/schemas/imbrt/top10nl/1.2"
        targetNamespace="http://www.kadaster.nl/schemas/imbrt/top10nl/1.2" elementFormDefault="qualified" version="1.2">
    <import namespace="http://www.kadaster.nl/schemas/imbrt/brt-alg/1.0" schemaLocation="brt_alg-concept.xsd"/>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
    <element name="FeatureCollectionT10NL" type="top10nl:FeatureCollectionT10NLType"
             substitutionGroup="gml:AbstractGML"/>
    <complexType name="FeatureCollectionT10NLType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="FeatureMember" minOccurs="0" maxOccurs="unbounded">
                        <complexType>
                            <complexContent>
                                <extension base="gml:AbstractFeatureMemberType">
                                    <sequence minOccurs="0">
                                        <element ref="top10nl:_Top10nlObject"/>
                                    </sequence>
                                    <attributeGroup ref="gml:AssociationAttributeGroup"/>
                                </extension>
                            </complexContent>
                        </complexType>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="FeatureCollectionT10NLPropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:FeatureCollectionT10NL"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="FunctioneelGebied" type="top10nl:FunctioneelGebiedType" substitutionGroup="top10nl:_Top10nlObject">
        <annotation>
            <documentation>Begrensd en benoemd gebied dat door een functionele eenheid beschreven wordt</documentation>
        </annotation>
    </element>
    <complexType name="FunctioneelGebiedType">
        <complexContent>
            <extension base="top10nl:_Top10nlObjectType">
                <sequence>
                    <element name="typeFunctioneelGebied" type="gml:CodeType">
                        <annotation>
                            <documentation>Het soort functioneel gebied.
                                De waardelijst is beschikbaar via
                                http://www.kadaster.nl/schemas/waardelijsten/BRT/TOP10NL/
                            </documentation>
                        </annotation>
                    </element>
                    <element name="soortnaam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Verdere specificatie van het type functioneel gebied.</documentation>
                        </annotation>
                    </element>
                    <element name="naamNL" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>De Nederlandse naam van het functionele gebied.</documentation>
                        </annotation>
                    </element>
                    <element name="naamFries" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>De Friese naam van het functionele gebied.</documentation>
                        </annotation>
                    </element>
                    <element name="geometrie" type="brt:BRTVlakMultivlakOfPuntPropertyType">
                        <annotation>
                            <documentation>De punt-, vlak- of multivlakgeometrie van een functioneel gebied object.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="FunctioneelGebiedPropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:FunctioneelGebied"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Gebouw" type="top10nl:GebouwType" substitutionGroup="top10nl:_Top10nlObject">
        <annotation>
            <documentation>Vrijstaande, overdekte en geheel of gedeeltelijk met wanden omsloten toegankelijke ruimte,
                die direct of indirect met de grond is verbonden
            </documentation>
        </annotation>
    </element>
    <complexType name="GebouwType">
        <complexContent>
            <extension base="top10nl:_Top10nlObjectType">
                <sequence>
                    <element name="typeGebouw" type="gml:CodeType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Het oorspronkelijk gebruiksdoel van het gebouw.</documentation>
                        </annotation>
                    </element>
                    <element name="fysiekVoorkomen" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>De plaats waar het object zich bevindt t.o.v. andere constructies
                            </documentation>
                        </annotation>
                    </element>
                    <element name="hoogteklasse" type="gml:CodeType">
                        <annotation>
                            <documentation>De klasse van hoogte waar de bebouwing toe behoort</documentation>
                        </annotation>
                    </element>
                    <element name="hoogteniveau" type="integer">
                        <annotation>
                            <documentation>De relatieve hoogteligging van het gebouw ten opzichte van een ander
                                geo-object, waarbij het hoogste object op niveau 0 ligt.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="hoogte" type="double" minOccurs="0">
                        <annotation>
                            <documentation>De hoogte van het object (t.o.v. het maaiveld of t.o.v. NAP).</documentation>
                        </annotation>
                    </element>
                    <element name="status" type="gml:CodeType">
                        <annotation>
                            <documentation>De gebruiksstatus van het object</documentation>
                        </annotation>
                    </element>
                    <element name="soortnaam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Nadere specificatie van het type gebouw.</documentation>
                        </annotation>
                    </element>
                    <element name="naam" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Naam van het gebouw</documentation>
                        </annotation>
                    </element>
                    <element name="gebruiksdoel" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>-- Defintion --
                                Huidig gebruiksdoel van een gebouw, conform de BAG classificatie voor panden
                            </documentation>
                        </annotation>
                    </element>
                    <element name="geometrie" type="brt:BRTVlakOfPuntPropertyType">
                        <annotation>
                            <documentation>De punt- of vlakgeometrie van een gebouw object</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GebouwPropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:Gebouw"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="GeografischGebied" type="top10nl:GeografischGebiedType" substitutionGroup="top10nl:_Top10nlObject">
        <annotation>
            <documentation>Begrensd en benoemd gebied dat door een geografische eenheid beschreven wordt
                NOTE Woonplaatsen en andere aan wonen en werken gerelateerde gebieden zijn in de objectklasse Plaats
                opgenomen.
            </documentation>
        </annotation>
    </element>
    <complexType name="GeografischGebiedType">
        <complexContent>
            <extension base="top10nl:_Top10nlObjectType">
                <sequence>
                    <element name="typeGeografischGebied" type="gml:CodeType">
                        <annotation>
                            <documentation>Het soort geografisch gebied</documentation>
                        </annotation>
                    </element>
                    <element name="naamNL" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De Nederlandse naam van het geografisch gebied.</documentation>
                        </annotation>
                    </element>
                    <element name="naamFries" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De Friese naam van het geografisch gebied.</documentation>
                        </annotation>
                    </element>
                    <element name="geometrie" type="brt:BRTVlakMultivlakOfPuntPropertyType">
                        <annotation>
                            <documentation>De punt- of vlakgeometrie van een geografisch gebied object.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GeografischGebiedPropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:GeografischGebied"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Hoogte" type="top10nl:HoogteType" substitutionGroup="top10nl:_Top10nlObject">
        <annotation>
            <documentation>Virtuele objecten met informatie over de hoogte van het terrein of de diepte van het water
                NOTE Onder de klasse Hoogte vallen de hoogte- en dieptelijnen alsmede hoogte- en dieptepunten
            </documentation>
        </annotation>
    </element>
    <complexType name="HoogteType">
        <complexContent>
            <extension base="top10nl:_Top10nlObjectType">
                <sequence>
                    <element name="typeHoogte" type="gml:CodeType">
                        <annotation>
                            <documentation>Het soort hoogte object, bijv. hoogtlijn</documentation>
                        </annotation>
                    </element>
                    <element name="hoogte" type="integer">
                        <annotation>
                            <documentation>Hoogte van het object t.o.v. NAP in meters met een nauwkeurigheid van 1
                                decimeter. / De diepte van het water
                            </documentation>
                        </annotation>
                    </element>
                    <element name="referentievlak" type="gml:CodeType">
                        <annotation>
                            <documentation>Referentievlak ten opzichte waarvan de hoogten gedefinieerd zijn.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="geometrie" type="brt:BRTLijnOfPuntPropertyType">
                        <annotation>
                            <documentation>De lijn- of puntgeometrie van een hoogte object</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="HoogtePropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:Hoogte"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Inrichtingselement" type="top10nl:InrichtingselementType" substitutionGroup="top10nl:_Top10nlObject">
        <annotation>
            <documentation>Ruimtelijk object, punt- of lijnvormig, al dan niet ter detaillering dan wel ter inrichting
                van de overige benoemde ruimtelijke objecten of andere inrichtingselementen
            </documentation>
        </annotation>
    </element>
    <complexType name="InrichtingselementType">
        <complexContent>
            <extension base="top10nl:_Top10nlObjectType">
                <sequence>
                    <element name="typeInrichtingselement" type="gml:CodeType">
                        <annotation>
                            <documentation>Het soort inrichtingselement</documentation>
                        </annotation>
                    </element>
                    <element name="hoogte" type="double" minOccurs="0">
                        <annotation>
                            <documentation>De hoogte van het inrichtingselement</documentation>
                        </annotation>
                    </element>
                    <element name="breedte" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>De breedte van het inrichtingselement</documentation>
                        </annotation>
                    </element>
                    <element name="hoogteniveau" type="integer">
                        <annotation>
                            <documentation>De relatieve hoogteligging van het geo-object ten opzichte van een ander
                                geo-object.
                                --Description--
                                Op basis van het hoogteniveau kan worden bepaald op welke wijze geo-objecten elkaar
                                kruisen, waarbij het hoogste object op niveau 0 ligt.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="soortnaam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De klasse waartoe het inrichtingselement behoort</documentation>
                        </annotation>
                    </element>
                    <element name="naam" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>De naam van het inrichtingselement</documentation>
                        </annotation>
                    </element>
                    <element name="nummer" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Het nummer van het inrichtingselement</documentation>
                        </annotation>
                    </element>
                    <element name="geometrie" type="brt:BRTLijnOfPuntPropertyType">
                        <annotation>
                            <documentation>De punt- of lijngeometrie van een inrichtingelement.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="InrichtingselementPropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:Inrichtingselement"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Plaats" type="top10nl:PlaatsType" substitutionGroup="top10nl:_Top10nlObject">
        <annotation>
            <documentation>geografische gebied gekenmerkt door een concentratie van gebouwen gebruikt voor wonen een
                werken
                NOTE Voorbeelden zijn woonkernen, gehuchten en stadsdelen, al dan niet omsloten met blauwe of witte
                plaatsnaamborden.
            </documentation>
        </annotation>
    </element>
    <complexType name="PlaatsType">
        <complexContent>
            <extension base="top10nl:_Top10nlObjectType">
                <sequence>
                    <element name="typeGebied" type="gml:CodeType">
                        <annotation>
                            <documentation>Aanduiding van het type plaats.</documentation>
                        </annotation>
                    </element>
                    <element name="bebouwdeKom" type="brt:BRTJaNeeWaardeType">
                        <annotation>
                            <documentation>Aanduiding of de plaats tot een bebouwde kom behoort of niet.
                                NOTE Bebouwde kommen worden omsloten door blauwe plaatsnaam borden.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="isBAGwoonplaats" type="brt:BRTJaNeeWaardeType">
                        <annotation>
                            <documentation>Aanduiding of de naam afkomstig is uit de BAG</documentation>
                        </annotation>
                    </element>
                    <element name="aantalinwoners" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>Aantal inwoners van de plaats.</documentation>
                        </annotation>
                    </element>
                    <element name="naamOfficieel" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De officiële naam van de plaats.</documentation>
                        </annotation>
                    </element>
                    <element name="naamNL" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De Nederlandse naam van de plaats.</documentation>
                        </annotation>
                    </element>
                    <element name="naamFries" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De Friese naam van de plaats.</documentation>
                        </annotation>
                    </element>
                    <element name="geometrie" type="brt:BRTVlakMultivlakOfPuntPropertyType">
                        <annotation>
                            <documentation>De vlak- of puntgeometrie van de plaats.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PlaatsPropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:Plaats"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="PlanTopografie" type="top10nl:PlanTopografieType" substitutionGroup="top10nl:_Top10nlObject">
        <annotation>
            <documentation>ruimtelijk object dat wel gepland is, maar nog niet in uitvoering is; meestal een groot
                infrastructureel object
                -- Descripion --
                Voorbeelden zijn: nieuwe spoorbanen, snelwegen en kanalen
            </documentation>
        </annotation>
    </element>
    <complexType name="PlanTopografieType">
        <complexContent>
            <extension base="top10nl:_Top10nlObjectType">
                <sequence>
                    <element name="typeObject" type="gml:CodeType">
                        <annotation>
                            <documentation>Het type of soort gepland object.</documentation>
                        </annotation>
                    </element>
                    <element name="naam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De naam van het geplande object.</documentation>
                        </annotation>
                    </element>
                    <element name="geometrie" type="brt:BRTVlakLijnOfPuntPropertyType">
                        <annotation>
                            <documentation>De vlak-, lijn- of puntgeometrie van het geplande object.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PlanTopografiePropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:PlanTopografie"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="RegistratiefGebied" type="top10nl:RegistratiefGebiedType" substitutionGroup="top10nl:_Top10nlObject">
        <annotation>
            <documentation>Op basis van wet- en regelgeving afgebakend gebied dat als eenheid geldt van
                politieke/bestuurlijke verantwoordelijkheid of voor bedrijfsvoering.
            </documentation>
        </annotation>
    </element>
    <complexType name="RegistratiefGebiedType">
        <complexContent>
            <extension base="top10nl:_Top10nlObjectType">
                <sequence>
                    <element name="typeRegistratiefGebied" type="gml:CodeType">
                        <annotation>
                            <documentation>Het soort registratief gebied</documentation>
                        </annotation>
                    </element>
                    <element name="naamOfficieel" type="string">
                        <annotation>
                            <documentation>De officiële naam van het registratieve gebied.</documentation>
                        </annotation>
                    </element>
                    <element name="naamNL" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>De Nederlandse naam van een registratief gebied.</documentation>
                        </annotation>
                    </element>
                    <element name="naamFries" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>De Friese naam van een registratief gebied.</documentation>
                        </annotation>
                    </element>
                    <element name="nummer" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Het administratieve nummer van het registratief gebied.</documentation>
                        </annotation>
                    </element>
                    <element name="geometrie" type="brt:BRTVlakOfMultivlakPropertyType">
                        <annotation>
                            <documentation>De vlak- of multivlakgeometrie van een registratief gebied.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="RegistratiefGebiedPropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:RegistratiefGebied"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Relief" type="top10nl:ReliefType" substitutionGroup="top10nl:_Top10nlObject">
        <annotation>
            <documentation>object dat tot doel heeft hoogteverschillen in het landschap te representeren
                NOTE Onder de klasse Relief vallen objecten die een hoogteverschil in het terrein kenmerken, zoals
                dijken en taluds
            </documentation>
        </annotation>
    </element>
    <complexType name="ReliefType">
        <complexContent>
            <extension base="top10nl:_Top10nlObjectType">
                <sequence>
                    <element name="typeRelief" type="gml:CodeType">
                        <annotation>
                            <documentation>Het soort reliëf.</documentation>
                        </annotation>
                    </element>
                    <element name="hoogteklasse" type="gml:CodeType">
                        <annotation>
                            <documentation>Klasse van de hoogte van een object ten opzichte van het maaiveld
                            </documentation>
                        </annotation>
                    </element>
                    <element name="hoogteniveau" type="integer">
                        <annotation>
                            <documentation>De relatieve hoogteligging van het geo-object ten opzichte van een ander
                                geo-object.
                                --Description--
                                Op basis van het hoogteniveau kan worden bepaald op welke wijze geo-objecten elkaar
                                kruisen, waarbij het hoogste object op niveau 0 ligt.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="functie" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Aanduiding of het object een geluidswerende of scheidende functie heeft.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="lijnGeometrie" type="gml:CurvePropertyType" minOccurs="0">
                        <annotation>
                            <documentation>De lijngeometrie van het reliëf object.</documentation>
                        </annotation>
                    </element>
                    <element name="taludGeometrie" type="brt:BRTHogeEnLageZijdePropertyType" minOccurs="0">
                        <annotation>
                            <documentation>De lijngeometrieën van zowel de hoge als de lage zijde van een talud.
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ReliefPropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:Relief"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Spoorbaandeel" type="top10nl:SpoorbaandeelType" substitutionGroup="top10nl:_Top10nlObject">
        <annotation>
            <documentation>Kleinste functioneel onafhankelijk stukje spoorbaan met gelijkblijvende homogene
                eigenschappen en relaties dat er binnen een spoorwegnet wordt onderscheiden
            </documentation>
        </annotation>
    </element>
    <complexType name="SpoorbaandeelType">
        <complexContent>
            <extension base="top10nl:_Top10nlObjectType">
                <sequence>
                    <element name="typeInfrastructuur" type="gml:CodeType">
                        <annotation>
                            <documentation>Aanduiding of het object een verbinding of een kruising is. Kruising is
                                meestal een wissel.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="typeSpoorbaan" type="gml:CodeType">
                        <annotation>
                            <documentation>Het soort vervoermiddel waarvoor het spoorbaandeel bestemd is.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="fysiekVoorkomen" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>De plaats waar het object zich bevindt t.o.v. andere constructies.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="spoorbreedte" type="gml:CodeType">
                        <annotation>
                            <documentation>De breedteklasse van het spoor</documentation>
                        </annotation>
                    </element>
                    <element name="aantalSporen" type="gml:CodeType">
                        <annotation>
                            <documentation>Het aantal sporen van het spoorbaandeel</documentation>
                        </annotation>
                    </element>
                    <element name="vervoerfunctie" type="gml:CodeType">
                        <annotation>
                            <documentation>De functie waarvoor het spoor gebruikt wordt (of werd)</documentation>
                        </annotation>
                    </element>
                    <element name="elektrificatie" type="brt:BRTJaNeeWaardeType">
                        <annotation>
                            <documentation>Aanduiding of het spoorbaandeel geëlektrificeerd is of niet.</documentation>
                        </annotation>
                    </element>
                    <element name="hoogteniveau" type="integer">
                        <annotation>
                            <documentation>De relatieve hoogteligging van het geo-object ten opzichte van een ander
                                geo-object.
                                --Description--
                                Op basis van het hoogteniveau kan worden bepaald op welke wijze geo-objecten elkaar
                                kruisen, waarbij het hoogste object op niveau 0 ligt.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="status" type="gml:CodeType">
                        <annotation>
                            <documentation>De gebruiksstatus van het object</documentation>
                        </annotation>
                    </element>
                    <element name="brugnaam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De naam van een spoorbrug</documentation>
                        </annotation>
                    </element>
                    <element name="tunnelnaam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Naam van een spoortunnel</documentation>
                        </annotation>
                    </element>
                    <element name="baanvaknaam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De naam van het baanvak.</documentation>
                        </annotation>
                    </element>
                    <element name="geometrie" type="brt:BRTLijnOfPuntPropertyType">
                        <annotation>
                            <documentation>De lijn geometrie van een spoorbaandeel</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="SpoorbaandeelPropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:Spoorbaandeel"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Terrein" type="top10nl:TerreinType" substitutionGroup="top10nl:_Top10nlObject">
        <annotation>
            <documentation>Zichtbaar begrensd stuk grond, niet zijnde een van de andere opdelende ruimtelijke objecten
                (wegdeel of waterdeel)
            </documentation>
        </annotation>
    </element>
    <complexType name="TerreinType">
        <complexContent>
            <extension base="top10nl:_Top10nlObjectType">
                <sequence>
                    <element name="typeLandgebruik" type="gml:CodeType">
                        <annotation>
                            <documentation>De gebruiksbestemming van het terrein.</documentation>
                        </annotation>
                    </element>
                    <element name="fysiekVoorkomen" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>De plaats waar het object zich bevindt t.o.v. andere constructies.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="voorkomen" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Aanduiding dat er riet op het terrein voorkomt of dat het drassig/moerassig
                                is.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="hoogteniveau" type="integer">
                        <annotation>
                            <documentation>De relatieve hoogteligging van het geo-object ten opzichte van een ander
                                geo-object.
                                --Description--
                                Op basis van het hoogteniveau kan worden bepaald op welke wijze geo-objecten elkaar
                                kruisen, waarbij het hoogste object op niveau 0 ligt.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="naam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De naam die eventueel voor het terrrein in gebruik is.</documentation>
                        </annotation>
                    </element>
                    <element name="geometrieVlak" type="gml:SurfacePropertyType">
                        <annotation>
                            <documentation>De vlakgeometrie van een terrein object.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="TerreinPropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:Terrein"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Waterdeel" type="top10nl:WaterdeelType" substitutionGroup="top10nl:_Top10nlObject">
        <annotation>
            <documentation>grondoppervlak in principe bedekt met water
                NOTE Voorbeelden zijn: rivier, kanaal, beek, zee, meer, oppervlaktewater in algemene zin. Objecten die
                in het kader van de waterhuishouding periodiek met water zijn bedekt, vallen hier ook onder.
            </documentation>
        </annotation>
    </element>
    <complexType name="WaterdeelType">
        <complexContent>
            <extension base="top10nl:_Top10nlObjectType">
                <sequence>
                    <element name="typeWater" type="gml:CodeType">
                        <annotation>
                            <documentation>Aanduiding of het object een verbinding, een kruising of iets anders
                            </documentation>
                        </annotation>
                    </element>
                    <element name="breedteklasse" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>De breedte van het water ingedeeld in klassen.</documentation>
                        </annotation>
                    </element>
                    <element name="hoofdafwatering" type="brt:BRTJaNeeWaardeType">
                        <annotation>
                            <documentation>Aanduiding of het water deel uitmaakt van het hoofdafwateringspatroon (het
                                stelsel van waterlopen in gebruik als primaire afvoermogelijkheid van overtollig
                                oppervlaktewater c.q. aanvoermogelijkheid bij een tekort aan oppervlaktewater, plus
                                bijhorende kunstwerken)
                            </documentation>
                        </annotation>
                    </element>
                    <element name="fysiekVoorkomen" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>De plaats waar het object zich bevindt t.o.v. andere constructies.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="voorkomen" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Aanduiding dat er riet op het waterdeel voorkomt</documentation>
                        </annotation>
                    </element>
                    <element name="hoogteniveau" type="integer">
                        <annotation>
                            <documentation>De relatieve hoogteligging van het geo-object ten opzichte van een ander
                                geo-object.
                                --Description--
                                Op basis van het hoogteniveau kan worden bepaald op welke wijze geo-objecten elkaar
                                kruisen, waarbij het hoogste object op niveau 0 ligt.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="functie" type="gml:CodeType">
                        <annotation>
                            <documentation>De functie van het water.</documentation>
                        </annotation>
                    </element>
                    <element name="getijdeinvloed" type="brt:BRTJaNeeWaardeType">
                        <annotation>
                            <documentation>Aanduiding voor het geven van de stroomrichting(en) van (natuurlijke)
                                waterlopen.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="vaarwegklasse" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Aanduiding die aangeeft in welke klasse zich het waterdeel bevindt
                            </documentation>
                        </annotation>
                    </element>
                    <element name="naamOfficieel" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De officiele naam van het water.</documentation>
                        </annotation>
                    </element>
                    <element name="naamNL" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>De Nederlandse naam van het water.</documentation>
                        </annotation>
                    </element>
                    <element name="naamFries" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>De Friese naam van het water</documentation>
                        </annotation>
                    </element>
                    <element name="isBAGnaam" type="brt:BRTJaNeeWaardeType" minOccurs="0">
                        <annotation>
                            <documentation>Aanduiding of de naam afkomstig is uit de BAG</documentation>
                        </annotation>
                    </element>
                    <element name="sluisnaam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De naam van de sluis</documentation>
                        </annotation>
                    </element>
                    <element name="brugnaam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De naam van een brug</documentation>
                        </annotation>
                    </element>
                    <element name="geometrie" type="brt:BRTVlakLijnOfPuntPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>De punt-, lijn- of vlakgeometrie van een waterdeel object</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WaterdeelPropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:Waterdeel"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Wegdeel" type="top10nl:WegdeelType" substitutionGroup="top10nl:_Top10nlObject">
        <annotation>
            <documentation>Kleinste functioneel onafhankelijk stukje weg met gelijkblijvende, homogene eigenschappen en
                relaties voor wegverkeer en vliegverkeer te land
            </documentation>
        </annotation>
    </element>
    <complexType name="WegdeelType">
        <complexContent>
            <extension base="top10nl:_Top10nlObjectType">
                <sequence>
                    <element name="typeInfrastructuur" type="gml:CodeType">
                        <annotation>
                            <documentation>Aanduiding of het object een verbinding, een kruising of iets anders is.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="typeWeg" type="gml:CodeType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Het soort weg</documentation>
                        </annotation>
                    </element>
                    <element name="hoofdverkeersgebruik" type="gml:CodeType" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Soort verkeer waarvoor een weg bestemd is</documentation>
                        </annotation>
                    </element>
                    <element name="fysiekVoorkomen" type="gml:CodeType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Fysiek voorkomen: De plaats waar het object zich bevindt t.o.v. andere
                                constructies.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="verhardingsbreedteklasse" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>De breedte van de verharding, ingedeeld in klassen</documentation>
                        </annotation>
                    </element>
                    <element name="gescheidenRijbaan" type="brt:BRTJaNeeWaardeType">
                        <annotation>
                            <documentation>Aanduiding of het object onderdeel uitmaakt van een weg met gescheiden
                                rijbanen
                            </documentation>
                        </annotation>
                    </element>
                    <element name="verhardingstype" type="gml:CodeType">
                        <annotation>
                            <documentation>Het type verharding van een wegdeel</documentation>
                        </annotation>
                    </element>
                    <element name="aantalRijstroken" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>Het aantal onderverdelingen van een wegdeel d.m.v. strepen, verschil in
                                verharding of kleur.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="hoogteniveau" type="integer">
                        <annotation>
                            <documentation>De relatieve hoogteligging van het geo-object ten opzichte van een ander
                                geo-object.
                                --Description--
                                Op basis van het hoogteniveau kan worden bepaald op welke wijze geo-objecten elkaar
                                kruisen, waarbij het hoogste object op niveau 0 ligt.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="status" type="gml:CodeType">
                        <annotation>
                            <documentation>De gebruiksstatus van het object.</documentation>
                        </annotation>
                    </element>
                    <element name="naam" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>De naam van het wegdeel</documentation>
                        </annotation>
                    </element>
                    <element name="isBAGnaam" type="brt:BRTJaNeeWaardeType" minOccurs="0">
                        <annotation>
                            <documentation>Aanduiding of de naam afkomstig is uit de BAG
                                n
                            </documentation>
                        </annotation>
                    </element>
                    <element name="aWegnummer" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Nummering van de rijkswegen (autosnelwegen) behorende tot het nationale
                                wegenstelsel
                            </documentation>
                        </annotation>
                    </element>
                    <element name="nWegnummer" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Nummering van de provinciale wegen behorende tot het nationale wegenstelsel
                                en nummering van rijkswegen die nog niet de status van autosnelweg hebben.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="eWegnummer" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Nummering van de rijkswegen, die een Europese aansluiting op buitenlandse
                                doorgaande wegen vormen
                            </documentation>
                        </annotation>
                    </element>
                    <element name="sWegnummer" type="string" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <documentation>Nummering van lokale doorgaande wegen binnen / rond de gemeente Amsterdaml.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="afritnummer" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Afritnummering op autosnelweg, vastgesteld door Rijkswaterstaat
                            </documentation>
                        </annotation>
                    </element>
                    <element name="afritnaam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Afritbenaming op autosnelweg, vastgesteld door Rijkswaterstaat
                            </documentation>
                        </annotation>
                    </element>
                    <element name="knooppuntnaam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Naam van een knooppunt</documentation>
                        </annotation>
                    </element>
                    <element name="brugnaam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>De naam van een brug.</documentation>
                        </annotation>
                    </element>
                    <element name="tunnelnaam" type="string" minOccurs="0">
                        <annotation>
                            <documentation>Naam van de tunnel</documentation>
                        </annotation>
                    </element>
                    <element name="hartGeometrie" type="brt:BRTLijnOfPuntPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>De geometrie van de hartlijn of kruisingspunt van een wegdeel</documentation>
                        </annotation>
                    </element>
                    <element name="hoofdGeometrie" type="brt:BRTVlakLijnOfPuntPropertyType" minOccurs="0">
                        <annotation>
                            <documentation>De hoofdgeometrie van een wegdeel (vlak, lijn of punt)</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WegdeelPropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:Wegdeel"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="_Top10nlObject" type="top10nl:_Top10nlObjectType" abstract="true"
             substitutionGroup="gml:AbstractFeature">
        <annotation>
            <documentation>De gemeenschappelijke eigenschappen van een TOP10NL object
                NOTE De abstracte klasse _Top10nlObject heeft alle attributen die TOP10NL objecten gemeenschappelijk
                hebben, zoals identificatie
            </documentation>
        </annotation>
    </element>
    <complexType name="_Top10nlObjectType" abstract="true">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="identificatie">
                        <annotation>
                            <documentation>Unieke identificatie van het object binnen het domein van NEN 3610.
                                -- Source --
                                NEN 3610:2011
                            </documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element ref="brt:NEN3610ID"/>
                            </sequence>
                        </complexType>
                    </element>
                    <element name="brontype" type="gml:CodeType">
                        <annotation>
                            <documentation>Aanduiding welk soort bron is gebruikt.</documentation>
                        </annotation>
                    </element>
                    <element name="bronactualiteit" type="date">
                        <annotation>
                            <documentation>Datum van de gebruikte bron.</documentation>
                        </annotation>
                    </element>
                    <element name="bronbeschrijving" type="string">
                        <annotation>
                            <documentation>Beschrijving van de gebruikte bron.</documentation>
                        </annotation>
                    </element>
                    <element name="bronnauwkeurigheid" type="double">
                        <annotation>
                            <documentation>Nauwkeurigheid van de gebruikte bron in meters.</documentation>
                        </annotation>
                    </element>
                    <element name="objectBeginTijd" type="date">
                        <annotation>
                            <documentation>Object begintijd: tijdstip waarop het object in de registratie is ontstaan
                                NOTE Dit tijdstip moet altijd gelijk zijn aan het tijdstipregistratie van het eerste
                                voorkomen van het object.
                                Er zijn verschillende datatypes voor de representatie van een tijdstip: Afhankelijk van
                                de gebruikerswensen m.b.t. granulariteit kan o.a. worden gekozen uit types TM_Instant,
                                Date of DateTime.
                                -- Source --
                                NEN 3610:2011
                            </documentation>
                        </annotation>
                    </element>
                    <element name="objectEindTijd" type="date" minOccurs="0">
                        <annotation>
                            <documentation>Object eindtijd: Tiijdstip waarop het object in de registratie niet meer
                                geldig is
                                NOTE Er zijn verschillende datatypes voor de representatie van een tijdstip: Afhankelijk
                                van de gebruikerswensen m.b.t. granulariteit kan o.a. worden gekozen uit types
                                TM_Instant, Date of DateTime.
                                -- Source --
                                NEN 3610:2011
                            </documentation>
                        </annotation>
                    </element>
                    <element name="tijdstipRegistratie" type="date">
                        <annotation>
                            <documentation>Tijdstip waarop de versie van het object is opgenomen in de registratie
                            </documentation>
                        </annotation>
                    </element>
                    <element name="eindRegistratie" type="date" minOccurs="0"/>
                    <element name="tdnCode" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>Code die het object in TOP10vector had.</documentation>
                        </annotation>
                    </element>
                    <element name="visualisatieCode" type="integer" minOccurs="0">
                        <annotation>
                            <documentation>Code op basis waarvan een gebruiker het object kan visualiseren.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="mutatieType" type="gml:CodeType" minOccurs="0">
                        <annotation>
                            <documentation>Het soort mutatie dat een object als laatste ondergaan heeft.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="_Top10nlObjectPropertyType">
        <sequence minOccurs="0">
            <element ref="top10nl:_Top10nlObject"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
</schema>
